.DraftEditor-root {
  border: solid 1px plum;
}

.public-DraftStyleDefault-block {
  font-size: 2.2rem;
  font-style: italic;
  color: #007aac;
  background-color: antiquewhite;
}

.public-DraftStyleDefault-block span {
  background-color: antiquewhite;
}
