@use '@styles/config/colors' as *;

.addressForm {
  position: relative;
  // border: solid 1px green;
}

.addressBtn {
  position: relative;
  margin: 0 0.2rem;
  background-color: white;
  border-radius: 0.3rem;
}

.addressBtnClip {
  .addressCounter {
    position: absolute;
    top: -0.3rem;
    left: 1.4rem;
  }

  .addressCounterValue {
    font-size: 0.8rem;
    color: #333;
  }
}

.addressFieldset {
  padding: 0.5rem;
  border-radius: 1rem;
  border: solid 1px lightgray;
}

.addressLegend {
  user-select: none;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 4px;
  color: $color-font-disabled;
  text-transform: uppercase;
}

.envelopeAddressGroup {
  display: flex;
  gap: 0.5rem;
}

.addressForm {
  position: relative;

  &Toolbar {
    position: absolute;
  }

  &ToolbarSender {
    right: 1rem;
  }

  &ToolbarRecipient {
    left: 1rem;
  }

  &Recipient {
    .addressLegend {
      text-align: right;
    }
  }
}

.addressFormSender .addressGroup .labelIndex {
  margin-left: 0.5rem;
}

.addressFormRecipient .addressGroup .labelIndex {
  margin-right: 0.5rem;
}

.labelGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// -----

// .senderToggle {
//   margin: 0.5rem 0;
// }

// .toggleLabel {
//   display: flex;
//   align-items: center;
//   gap: 0.5rem;
//   cursor: pointer;
//   font-size: 0.9rem;
//   font-weight: 500;
//   color: $color-font-enabled;
// }

// .toggleInput {
//   display: none;
// }

// .toggleSlider {
//   position: relative;
//   width: 40px;
//   height: 18px;
//   background-color: #ccc;
//   border-radius: 18px;
//   transition: background-color 0.3s ease;
// }

// .toggleSlider::after {
//   content: '';
//   position: absolute;
//   top: 2px;
//   left: 2px;
//   width: 14px;
//   height: 14px;
//   background-color: white;
//   border-radius: 50%;
//   transition: transform 0.3s ease;
// }

// .toggleInput:checked + .toggleSlider {
//   background-color: $color-toggle-active;
// }

// .toggleInput:checked + .toggleSlider::after {
//   transform: translateX(22px);
// }
