@use '@styles/config/colors' as *;

.addressForm {
  position: relative;
}

.addressBtn {
  position: relative;
  margin: 0 0.2rem;
  background-color: white;
  border-radius: 0.3rem;
}

.addressBtnClip {
  .addressCounter {
    position: absolute;
    top: -0.3rem;
    left: 1.4rem;
  }

  .addressCounterValue {
    font-size: 0.8rem;
    color: #333;
  }
}

.addressFieldset {
  padding: 0.5rem;
  border-radius: 1rem;
  border: solid 1px $color-section-dark;
}

.addressFormSender .addressFieldset {
  // background-color: #e8f5f0;
  border-color: $color-envelope-sender-border;
}

.addressFormRecipient .addressFieldset {
  // background-color: #f0e8f5;
  border-color: $color-envelope-recipient-border;
}

.addressLegend {
  user-select: none;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 4px;
  margin-right: 0.6rem;
  color: $color-inactive;
  text-transform: uppercase;
}

.addressFormSender .addressLegend {
  color: #1a4d3a;
}

.addressFormRecipient .addressLegend {
  color: #3d2a5c;
}

.envelopeAddressGroup {
  display: flex;
  gap: 0.5rem;
}

.addressForm {
  position: relative;

  &Toolbar {
    position: absolute;
  }

  &ToolbarSender {
    right: 1rem;
  }

  &ToolbarRecipient {
    left: 1rem;
  }

  &Recipient {
    .addressLegend {
      text-align: right;
    }
  }
}

.addressFormToolbar {
  width: 100%;
  left: 0;
}

.addressFormToolbarSender {
  width: 100%;
  margin-top: -1px;
  padding-left: 4.8rem;
}

.addressFormToolbarRecipient {
  padding-left: 1rem;
  padding-right: 6.5rem;
}

.addressFormSender .addressGroup .labelIndex {
  margin-left: 0.5rem;
}

.addressFormRecipient .addressGroup .labelIndex {
  margin-right: 0.5rem;
}

.labelGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.senderToggle {
  margin-top: 0.3rem;
}

.recipientToggle {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
