@use '@styles/config/colors' as *;

.addressForm {
  position: relative;
}

.senderToggle {
  margin-bottom: 0.1rem;
}

.recipientToggle {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.addressFieldset {
  position: relative;
  padding: 0.5rem 0.35rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.addressToolbar {
  position: absolute;
  left: 0;
  top: -1.75rem;
  width: 100%;
  // border: solid 1px red;
}

.addressToolbarSender {
  padding-right: 1rem;
}

.addressToolbarRecipient {
  padding-left: 1rem;
}

.addressFormRecipientBody {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.addressFormRecipientBody .recipientFieldsetContent,
.addressFormRecipientBody .recipientFieldsetMulti {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.addressFormSender {
  &.addressFieldset {
    border: solid 1px $color-envelope-sender-border;
  }
}

.addressFormRecipient {
  &.addressFieldset {
    border: solid 1px $color-envelope-recipient-border;
  }
}

.addressLegend {
  display: flex;
  align-items: center;
  gap: 0;
  height: 1.8rem;
  width: min-content;
  white-space: nowrap;
  user-select: none;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #fff;
  text-transform: uppercase;

  &Multi {
    padding-left: 5px;
  }
}

.addressFormSender .addressLegend {
  color: $color-envelope-sender-legend;
  margin-left: 0.5rem;
  padding: 0 0 0 5px;
}

.addressLegendSender {
  gap: 0;
}

.addressFormRecipient .addressLegend {
  text-align: right;
  margin-right: 0.5rem;
  padding: 0 5px 0 0;
}

.addressFormRecipient .addressLegend.addressLegendRecipient {
  color: $color-envelope-recipient-legend;
}

.addressLegendMulti {
  min-height: 1.6rem;
  box-sizing: border-box;
}

.labelGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recipientsList {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 0.25rem;
  min-height: 0;
}

.addressBtn {
  position: relative;
  margin: 0 0.2rem;
  background-color: white;
  border-radius: 0.3rem;
}

.addressBtnClip {
  .addressCounter {
    position: absolute;
    top: -0.3rem;
    left: 1.4rem;
  }

  .addressCounterValue {
    font-size: 0.8rem;
    color: #333;
  }
}
