@use '@styles/config/colors' as *;

.addressForm {
  position: relative;
  // border: solid 1px green;
}

.addressBtn {
  position: relative;
  margin: 0 0.2rem;
  background-color: white;
  border-radius: 0.3rem;
}

.addressBtnClip {
  .addressCounter {
    position: absolute;
    top: -0.3rem;
    left: 1.4rem;
  }

  .addressCounterValue {
    font-size: 0.8rem;
    color: #333;
  }
}

.addressFieldset {
  padding: 0.5rem;
  border-radius: 1rem;
  border: solid 1px lightgray;
}

.addressLegend {
  user-select: none;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 4px;
  color: $color-font-disabled;
  text-transform: uppercase;
}

.envelopeAddressGroup {
  display: flex;
  gap: 0.5rem;
}

.addressForm {
  position: relative;

  &Toolbar {
    position: absolute;
  }

  &ToolbarSender {
    right: 1rem;
  }

  &ToolbarRecipient {
    left: 1rem;
  }

  &Recipient {
    .addressLegend {
      text-align: right;
    }
  }
}

.addressFormSender .addressGroup .labelIndex {
  margin-left: 0.5rem;
}

.addressFormRecipient .addressGroup .labelIndex {
  margin-right: 0.5rem;
}
