@use '@styles/config/colors' as *;

.addressForm {
  position: relative;
}

.senderToggle {
  margin-bottom: 0.75rem;
}

.recipientToggle {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.addressFieldset {
  position: relative;
  padding: 0.5rem 0.35rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.addressLegendReplicaContainer {
  position: absolute;
  top: -1.55rem;
  right: 0;
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.addressToolbarDouble {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.addressToolbar {
  width: min-content;
}

.addressFormRecipientBody,
.addressFormSenderBody {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.addressFormRecipientBody .recipientFieldsetContent,
.addressFormRecipientBody .recipientFieldsetMulti {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.addressFormSender {
  height: 100%;
  &.addressFieldset {
    border: solid 1px $color-envelope-sender-border;
  }
}

.addressFormRecipient {
  &.addressFieldset {
    border: solid 1px $color-envelope-recipient-border;
  }
}

.addressLegend,
.addressLegendReplica {
  display: flex;
  align-items: center;
  // gap: 0;
  height: min-content;
  // height: 1.8rem;
  padding: 0 5px;
  width: min-content;
  white-space: nowrap;
  user-select: none;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #fff;
  text-transform: uppercase;

  &Multi {
    padding-left: 5px;
  }
}

.addressLegendSender {
  align-self: flex-end;
  text-align: right;
  margin-right: 0.65rem;
  color: $color-envelope-sender-legend;
}

.addressLegendRecipient {
  text-align: right;
  margin-right: 0.65rem;
  color: $color-envelope-recipient-legend;
}

.addressLegendReplica {
  z-index: -1;
  color: transparent;
  padding: 0 5px;
}

.recipientLegendAndFavorite {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.addressLegendSender {
  gap: 0;
}

// .addressFormRecipient .addressLegend.addressLegendRecipient {
//   // color: $color-envelope-recipient-legend;
// }

.addressLegendMulti {
  min-height: min-content;
  box-sizing: border-box;
  gap: 0.4rem;
}

.recipientsCountBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.25rem;
  height: 1.25rem;
  padding: 0 0.35rem;
  background-color: $color-envelope-recipient-input-border;
  color: $color-envelope-recipient-legend;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  font-family: sans-serif;
  border-radius: 10px;
  flex-shrink: 0;
}

.labelGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recipientsList {
  display: flex;
  flex-direction: column-reverse;
  // padding-bottom: 0.25rem;
  min-height: 0;
  border: 1px solid red;

  > *:first-child {
    margin-bottom: 0;
  }
}

.addressBtn {
  position: relative;
  margin: 0 0.2rem;
  background-color: white;
  border-radius: 0.3rem;
}

.addressBtnClip {
  .addressCounter {
    position: absolute;
    top: -0.3rem;
    left: 1.4rem;
  }

  .addressCounterValue {
    font-size: 0.8rem;
    color: #333;
  }
}
