@use '@styles/config/colors' as *;

.label {
  position: relative;
  display: block;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  margin-top: 0;
  font-size: 0.55rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-inactive;
}

.labelSpacer {
  display: none;
}

.labelText {
  display: block;
  padding-left: 0.5rem;
  margin-bottom: 0.08rem;
  line-height: 1.1;
  font-weight: 500;
}

.labelRecipient,
.labelRecipients {
  text-align: left;

  .labelText {
    left: 0.5rem;
  }
}

.labelSender {
  .labelText {
    left: 0.5rem;
  }
}

.labelInput {
  display: block;
  width: 100%;
  padding: 0 0.25rem;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-weight: 400;
  color: $color-font-deepBlack;
  background-color: #fff;
  border: 1px solid transparent;
  height: 1.4rem;
  min-height: 1.4rem;
  border-radius: 4px;
  outline: none;
  letter-spacing: 1px;
  -webkit-appearance: none;
  appearance: none;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}

.labelInputSender {
  text-align: left;
}

.labelInputRecipient,
.labelInputRecipients {
  text-align: left;
}

.labelInput:focus {
  outline: none;
}

.labelInputSender:focus {
  color: $color-envelope-sender-legend;
  background-color: #fff;
  border-color: $color-envelope-sender-input-border;
}

.labelInputRecipient:focus,
.labelInputRecipients:focus {
  color: $color-envelope-recipient-legend;
  background-color: #fff;
  border-color: $color-envelope-recipient-input-border;
}

.labelFieldzip {
  flex: 0 0 32%;
  max-width: 32%;
}

.labelFieldcity {
  flex: 1 1 auto;
  min-width: 0;
}

.inputWrapper {
  position: relative;
  display: block;
  width: 100%;
  min-height: 1.4rem;
}

.clearButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.1rem;
  background: #fff;
  color: $color-font-disabled;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  cursor: pointer;
  transition:
    opacity 0.2s ease,
    color 0.2s ease;
}

.clearButton:hover {
  color: $color-font-enabled;
}

.inputWrapperRecipient .clearButton,
.inputWrapperRecipients .clearButton,
.inputWrapperSender .clearButton {
  right: 0.2rem;
}

.clearButton svg {
  width: 0.8rem;
  height: 0.8rem;
}

.inputWrapper:hover .clearButton {
  opacity: 1;
}
