@use '@styles/config/colors' as *;

.label {
  display: block;
  margin-top: 0.1rem;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-inactive;
}

.labelRecipient {
  text-align: right;
}

.labelSpacer {
  padding-left: 0.5rem;
}

.labelText {
  font-weight: 500;
}

.labelInput {
  width: 100%;
  padding: 0 0.3rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 4100;
  color: $color-font-deepBlack;
  background-color: $color-disabled;
  border: 1px solid transparent;
  height: 1.5rem;
  border-radius: 4px;
  outline: none;
  letter-spacing: 1px;
}

.labelInputSender {
  text-align: left;
  background-color: #f0faf7;
  border-color: #c5e5db;
}

.labelInputRecipient {
  text-align: right;
  background-color: #faf7fc;
  border-color: #e0d0eb;
}

.labelInput:focus {
  outline: none;
  color: $color-font-active;
  background-color: $color-enabled;
  box-shadow: 0 0 0 1px rgba(53, 65, 73, 0.2);
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    color 0.2s ease;
}

.labelInputSender:focus {
  background-color: #fff;
  box-shadow: 0 0 0 1px #1a4d3a40;
}

.labelInputRecipient:focus {
  background-color: #fff;
  box-shadow: 0 0 0 1px #3d2a5c40;
}

.labelZip {
  grid-column: 1/2;
  margin-right: 0.5rem;
}

.labelCity {
  grid-column: 2/4;
}

.inputWrapper {
  position: relative;
}

.clearButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.1rem;
  background: #fff;
  color: $color-font-disabled;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  cursor: pointer;
  transition:
    opacity 0.2s ease,
    color 0.2s ease;
}

.clearButton:hover {
  color: $color-font-enabled;
}

.inputWrapperRecipient .clearButton {
  left: 0.2rem;
}

.inputWrapperSender .clearButton {
  right: 0.2rem;
}

.clearButton svg {
  width: 0.8rem;
  height: 0.8rem;
}

.inputWrapper:hover .clearButton {
  opacity: 1;
}
