.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.45rem 0.5rem 0.55rem 0.5rem;
  width: 2.2rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  user-select: none;
  cursor: pointer;
}
