@use '@styles/config/colors' as *;

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-font-enabled-light-hover;
  user-select: none;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 2px 0.75rem;
  // border: 1px solid $color-disabled;
  text-transform: uppercase;
  // border: solid 1px blue;
}

.cell:first-child {
  border-radius: 0.75rem;
}

.firstDayToggle {
  background-color: $color-section-light-completed;
  color: $color-font-enabled;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease;
  // transform 0.3s ease;
}

.firstDayToggle:hover {
  background-color: $color-section-dark-completed;
  // transform: scale(1.03);
}
