@use '@styles/config/colors' as *;

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid $color-disabled;
  text-transform: uppercase;
}

.firstDayToggle {
  background-color: $color-disabled;
  color: $color-font-active;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  transition: color 0.2s ease;
  font-weight: bold;
  transition: color 0.2s ease;
}

.firstDayToggle:hover {
  color: $color-font-active;
  background-color: $color-enabled;
}
