.cards-list {
  position: relative;
  display: flex;
  // flex-direction: column;
  width: 100%;
  // padding: 1rem 1rem 1rem 1rem;
  // box-sizing: border-box;
  border-radius: 0.5rem;
  // overflow-x: auto;
  scroll-behavior: smooth;
  // overflow: hidden;
  // border: solid 1px green;
}

.poly-cards-filter {
  position: absolute;
  border-radius: 0.5rem;
  // background-color: rgba(163, 163, 163, 0.65);
  z-index: 6;
}

.memory-list {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  // border: solid 1px blue;
}

.mini-poly-cards {
  position: absolute;
  border-radius: 0.5rem;
  // background-image: url('../../data/img/envelope-clear.svg');
  // background-color: rgba(200, 200, 200, 0.65);
  // background-image: url('../../data/envelope-line-for-poly-minicards.svg');
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // box-shadow: 0px 0px 4px 3px rgba(71, 71, 71, 0.65);
  z-index: 7;
}

.mini-poly-cards.full {
  box-shadow: 0px 0px 6px 3px rgba(255, 89, 0, 0.6);
  // box-shadow: 0px 0px 6px 3px rgba(0, 125, 250, 0.6);
  transition: box-shadow 300ms ease-in;
}

.mini-poly-cards.full-fade-out {
  box-shadow: 2px 1px 6px 3px rgba(190, 190, 190, 0);
  transition: box-shadow 300ms ease-out;
}

.pattern-mini-card {
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: solid 1px rgb(173, 173, 173);
}

.fullcard-icons-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  // justify-content: space-between;
  width: 100%;
  height: 100%;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // flex-direction: column;
  // align-items: center;
  // border: solid 1px green;
}

// .fullcard-line {
//   display: flex;
//   height: 100%;
//   // border: solid 1px orange;
// }

.fullcard-btn-arrows {
  position: absolute;
  left: calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
  // align-items: center;
  // .fullcard-btn {
  width: 3rem;
  height: 3rem;
  color: rgb(71, 71, 71);
  cursor: pointer;
  // border: solid 1px red;
  .fullcard-icon {
    width: 1.9rem;
    height: 1.9rem;
  }
  // }
}

.fullcard-line {
  // position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100%;
  padding: 0.3rem;
  // border: solid 1px blue;
  .fullcard-btn {
    width: 1.7rem;
    height: 1.7rem;
    .toolbar-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
    // margin-left: 0.3rem;
    // margin-right: 0.3rem;
  }
  // .fullcard-btn:last-child {
  //   .toolbar-icon {
  //     // margin-right: 1px;
  //   }
  // }
  // .fullcard-btn:first-child {
  //   .fullcard-icon {
  //     width: 1.3rem;
  //     height: 1.3rem;
  //   }
  // }
  // .fullcard-btn:last-child {
  // }
}

.fullcard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  border: none;
}

.fullcard-btn-menu {
  color: rgba(71, 71, 71, 0);
  background-color: rgba(240, 240, 240, 0);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  // cursor: pointer;
}

.fullcard-btn-menu.full {
  background-color: rgba(240, 240, 240, 0.75);
  // transition: background-color 600ms ease-in;
}

.fullcard-btn-arrows {
  color: rgba(240, 240, 240, 0);
  background-color: rgba(0, 125, 250, 0);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.fullcard-btn-arrows.full {
  color: rgba(240, 240, 240, 1);
  background-color: rgba(255, 89, 0, 0.6);
  // background-color: rgba(0, 125, 250, 0.55);
  // transition: background-color 0.3s ease-in-out, color 300ms ease-in-out;
}

.fullcard-btn:hover {
  transition: background-color 0.3s;
  // transition: color 0.3s;
  //   background-color: rgba(0, 125, 250, 1);
  //   .icon-minimize {
  //     color: rgba(255, 255, 255, 1);
  //   }
}

// .fullcard-icon {
//   // color: rgba(255, 255, 255, 1);
//   background-color: rgba(255, 255, 255, 0);
//   // transition: color 0.3s;
// }
