.cards-list {
  position: relative;
  display: flex;
  width: 100%;
  // border: solid 1px green;
}

.poly-cards-filter {
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgba(163, 163, 163, 0.65);
  z-index: 6;
}

.memory-list {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  // border: solid 1px blue;
}

.mini-poly-cards {
  position: absolute;
  border-radius: 0.5rem;
  background-image: url('../../data/envelope-line-for-poly-minicards.svg');
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 7;
}

.pattern-mini-card {
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: solid 1px rgb(173, 173, 173);
}

.fullcard-icons-container {
  position: relative;
  width: 100%;
  height: 100%;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  // border: solid 1px green;
}

.fullcard-line {
  display: flex;
  height: 100%;
  // border: solid 1px orange;
}

.fullcard-line:nth-child(2) {
  align-items: center;
  .fullcard-btn {
    width: 2.6rem;
    height: 2.6rem;
    .fullcard-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.fullcard-line:first-child,
.fullcard-line:last-child {
  // align-items: flex-start;
  // padding: 0.35rem 0;
  .fullcard-btn {
    width: 1.9rem;
    height: 1.9rem;
    margin: 0.35rem;
  }
  .fullcard-btn:first-child {
    .fullcard-icon {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
  .fullcard-btn:last-child {
    .fullcard-icon {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 1px;
    }
  }
}

.fullcard-line:last-child {
  flex-direction: column;
  justify-content: space-between;
}

.fullcard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  border: none;
}

.fullcard-btn:hover {
  transition: background-color 0.3s;
  // transition: color 0.3s;
  //   background-color: rgba(0, 125, 250, 1);
  //   .icon-minimize {
  //     color: rgba(255, 255, 255, 1);
  //   }
}

.fullcard-icon {
  // color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  // transition: color 0.3s;
}
