.cards-list {
  display: flex;
  box-sizing: border-box;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  /* border: solid 1px green; */
}
