@use '@styles/config/colors' as *;

.sun-mon {
  &__toggle {
    background-color: $color-enabled;
    border: 1px solid $color-section-light;
    border-radius: 0.75rem;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 1rem;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: $color-section-dark;
    }

    &:hover .sun-mon__label {
      color: $color-font-enabled-light-hover;
    }
  }

  &__label {
    background-color: transparent;
  }
}
