@use '@styles/config/colors' as *;

.sun-mon {
  &__toggle {
    background-color: $color-section-light-completed;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 1rem;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    &:hover .sun-mon__label {
      color: $color-active;
    }
  }

  &__label {
    background-color: transparent;
  }
}
