@use '@styles/config/colors' as *;

.miniCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: #fff;
  user-select: none;
  // border: solid 1px orange;

  &Photo {
    padding: 0;
    background-color: transparent;
  }

  &Value {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Cardphoto {
      background-color: transparent;
    }

    &Date,
    &Aroma {
      font-size: 0.8rem;
    }
  }
}

.deleteMiniCard {
  position: absolute;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  border: solid 1px orange;
  // border: none;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.15s ease;
}

.deleteMiniCard svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  color: $color-font-disabled;
  // background-color: rgba($color-section-light, 0.6);
  margin: 0.2rem;
  border-radius: 0.6rem;
}

.miniCard:hover .deleteMiniCard {
  opacity: 1;
}
