.miniCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: #fff;
  user-select: none;

  &Photo {
    padding: 0;
    background-color: transparent;
  }

  &Value {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Cardphoto {
      background-color: transparent;
    }

    &Date,
    &Aroma {
      font-size: 0.8rem;
    }
  }

  &Kebab {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    .toolbarIcon {
      width: 1.2rem;
      height: 1.2rem;
      background-color: transparent;
    }

    &:hover {
      background-color: rgba(240, 240, 240, 0.85);
    }
  }

  &KebabIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../../../data/envelope/icon_mini-kebab.svg');
    background-repeat: no-repeat;
    background-color: transparent;
  }
}
