@use '@styles/config/colors' as *;

.miniAddress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 0.3rem;
  // font-style: italic;
  font-weight: 600;
  color: $color-font-blue;

  &Field {
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent 100%);
    // text-overflow: ellipsis;
  }

  &Name {
    font-size: 1rem;
  }

  &City {
    font-size: 0.8rem;
  }

  &Country {
    font-size: 0.8rem;
  }
}

// .miniAddressRecipient {
//   display: flex;
//   text-align: right;
// }

// .miniAddressGroup {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;

//   .miniAddressFieldZip {
//     width: 33%;
//   }
//   .miniAddressFieldCity {
//     width: 66%;
//   }
// }

// .miniAddressZip {
//   width: 35%;
// }

// .miniAddressField {
//   margin: 1px;
//   border-radius: 0.3rem;
//   background-color: $color-disabled;
//   width: 100%;
//   overflow: hidden;
// }
