.miniAddress {
  display: flex;
  flex-direction: column;
  font-size: 0.3rem;
  font-style: italic;
  font-weight: 600;
  color: #007aac;
}

.miniAddressRecipient {
  align-items: flex-end;
  text-align: right;
}

.miniAddressGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.miniAddressField {
  width: 100%;
  overflow: hidden;
}

.miniAddressZip {
  width: 35%;
}
