@use '@styles/config/colors' as *;

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
  flex: 0 0 auto;
  pointer-events: none;
  user-select: none;
}

.printer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.55rem;
  flex-shrink: 0;
  color: $color-font-enabled-light;

  > svg {
    width: 0.82rem;
    height: auto;
  }
}

.printerDisabled {
  color: $color-font-disabled;
}
