@use '@styles/config/colors' as *;

$print-quality-printer-icon-width: 1.2rem;

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
  flex: 0 0 auto;
  pointer-events: none;
  user-select: none;
}

.rootFill {
  width: 100%;
  min-width: 0;
}

.printer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-shrink: 0;
  color: $color-font-enabled-light;

  > svg {
    width: $print-quality-printer-icon-width;
    height: auto;
  }
}

.printerDisabled {
  color: $color-font-disabled;
}
