@use '@styles/config/colors' as *;

.cropSidebar {
  position: absolute;
  right: -4.5rem;
  top: 3rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  // border: solid 1px red;
  // gap: 8px;
}
