@use '@styles/config/colors' as *;

.previewIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 3.8rem;
  // height: 3.8rem;
  // border-radius: 0.9rem;
  // background-color: #ffffff;
  // border: solid 1px blue;
}

.previewIcon {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 0.85rem 0;
  border-radius: 0.9rem;
  overflow: hidden;
  border: solid 1px $color-section-dark;
  cursor: pointer;
  background-color: $color-section-dark;
  transition:
  // transform 0.2s,
    border-color 0.2s;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $color-toggle-active;
    // transform: scale(1.05);
  }

  opacity: 0;
  animation: fadeInIcon 0.4s ease-out forwards;
}

@keyframes fadeInIcon {
  from {
    opacity: 0;
    // transform: translateX(10px);
  }
  to {
    opacity: 1;
    // transform: translateX(0);
  }
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewButtonContainer {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3.5rem;
  pointer-events: none;
  // border: solid 1px orange;
}

.previewButton {
  padding: 0;
  background-color: #ffffff;
  color: $color-font-disabled;
  border: none;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  border: solid 2px #ffffff;
  pointer-events: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition:
    opacity 0.2s ease,
    color 0.2s ease;
}

.previewButton svg {
  width: 0.8rem;
  height: 0.8rem;
  color: $color-font-disabled;
  transition: color 0.2s ease;
}

.previewButton:hover svg {
  color: $color-font-enabled;
}

.previewIconContainer:hover .previewButton {
  opacity: 1;
}
