@use '@styles/config/colors' as *;

.postcardIndicatorContainer {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  user-select: none;
  padding: 0 0.25rem;
  // border: solid 1px red;
}

.postcardIndicator {
  width: 0.55rem;
  height: 0.55rem;
  margin: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
}

// .postcardIndicatorContainer:hover {
//   background-color: red;
//   cursor: default;
//   box-shadow: none;
//   border-radius: 0;
//   color: $color-font-enabled;
// }

.postcardIndicatorContainer {
  .cart {
    background-color: $color-font-disabled;
  }

  .ready {
    background-color: $color-font-disabled;
  }

  .sent {
    background-color: $color-font-disabled;
  }

  .delivered {
    background-color: $color-font-disabled;
  }

  .error {
    background-color: $color-font-disabled;
  }

  .icon {
    color: $color-font-disabled;
  }
}

.postcardIndicatorContainer.historyMode {
  .cart {
    background-color: $color-preview-indicator-cart;
  }
  .ready {
    background-color: $color-preview-indicator-ready;
  }
  .sent {
    background-color: $color-preview-indicator-sent;
  }
  .delivered {
    background-color: $color-preview-indicator-delivered;
  }
  .error {
    background-color: $color-preview-indicator-error;
  }
}
