@use '@styles/config/colors' as *;

.toolbar__btn {
  position: absolute;
  display: flex;
  top: -0.9rem;
  left: 2rem;
  background-color: $color-transparent;
  transition:
    color 0.2s ease,
    cursor 0.2s ease;

  &--disabled {
    color: $color-disabled;
    cursor: not-allowed;
  }

  &--enabled {
    color: $color-enabled;
    cursor: default;
  }

  &--active {
    color: $color-active;
    cursor: default;
  }

  &--hover {
    color: $color-hover;
    cursor: pointer;
  }
}
