@use '@styles/config/colors' as *;

.toolbar {
  width: 100%;
  // position: relative;
  .toolbarKey {
    position: relative;
    margin: 0 0.3rem;
    background-color: white;
    border-radius: 0.7rem;
    background-color: white;
    transition:
      color 0.15s ease,
      cursor 0.15s ease,
      background-color 0.15s ease;

    &Disabled {
      color: $color-font-disabled;
      cursor: default;
    }

    &Enabled {
      color: $color-font-enabled;
      cursor: pointer;
    }

    &Enabled:hover {
      background-color: $color-enabled;
      cursor: pointer;
    }

    &Active {
      color: $color-font-active;
    }

    &Active:hover {
      background-color: $color-enabled;
    }
  }
}

.toolbarCardPanelOverlay {
  height: 100%;
  z-index: 8;
  // border: solid 1px blue;

  .toolbarGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .toolbarKey {
    background-color: $color-disabled;
    // border: solid 1px red;
  }
}

.toolbarCardtext,
.toolbarCardphoto {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  // border: solid 1px green;

  .toolbarGroupText {
    .toolbarKey {
      .toolbarIcon {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}

// .toolbarGroup {
// }

.toolbarCardtext {
  top: -3rem;
}

.toolbarCardphoto {
  top: -3rem;
}

.toolbarSectionEditorMenu {
  position: absolute;
  left: -1.2rem;
  display: flex;
  align-items: center;
  height: 100%;

  .toolbarGroup {
    display: flex;
    flex-direction: column;
  }

  .toolbarKey {
    width: 2.4rem;
    height: 2.4rem;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.9rem;
    background-color: white;
    border: solid 1px $color-section-dark;
    transition:
      color 0.15s ease,
      background-color 0.15s ease;
  }

  &Active {
    color: $color-font-active;
  }

  .toolbarIcon {
    margin: 0.4rem;
  }
}

.toolbarCardphoto,
.toolbarCardtext,
.toolbarSender,
.toolbarRecipient,
.toolbarCardPanelOverlay {
  .toolbarKey {
    width: 1.75rem;
    height: 1.75rem;
  }
}
