@use '@styles/config/colors' as *;

.toolbar {
  .toolbarKey {
    position: relative;
    margin: 0 0.2rem;
    // padding: 0.4rem;
    background-color: white;
    width: 1.85rem;
    height: 1.85rem;
    border-radius: 0.7rem;
    background-color: white;
    transition:
      color 0.15s ease,
      cursor 0.15s ease,
      background-color 0.15s ease;
    // border: solid 1px blue;

    &Disabled {
      color: $color-font-disabled;
      cursor: default;
    }

    &Enabled {
      color: $color-font-enabled;
      cursor: pointer;
    }

    &Enabled:hover {
      background-color: $color-enabled;
      cursor: pointer;
    }

    &Active {
      color: $color-font-active;
    }

    &Active:hover {
      background-color: $color-enabled;
    }
  }
}

.toolbarCardPanelOverlay {
  height: 100%;
  z-index: 8;

  .toolbarGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .toolbarKey {
    background-color: $color-disabled;
  }
}

.toolbarCardtext,
.toolbarCardphoto {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .toolbarGroupText {
    .toolbarKey {
      border: solid 1px red;

      .toolbarIcon {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}

.toolbarCardtext {
  top: -3rem;
}

.toolbarCardphoto {
  top: -3rem;
}

.toolbarSectionEditorMenu {
  position: absolute;
  left: -1.2rem;

  .toolbarGroup {
    display: flex;
    flex-direction: column;
  }

  .toolbarKey {
    width: 2.4rem;
    height: 2.4rem;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.9rem;
    background-color: white;
    border: solid 1px $color-section-dark;
    transition:
      color 0.15s ease,
      background-color 0.15s ease;
  }

  &Active {
    color: $color-font-active;
  }

  .toolbarIcon {
    margin: 0.4rem;
  }
}
