@use '@styles/config/colors' as *;

.toolbar {
  .toolbarKey {
    position: relative;
    margin: 0 0.2rem;
    background-color: white;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    // border: solid 1px blue;
    transition:
      color 0.2s ease,
      cursor 0.2s ease;

    &Disabled {
      color: $color-font-disabled;
      cursor: default;
    }

    &Enabled {
      color: $color-font-enabled;
      cursor: default;
    }

    &Active {
      color: $color-font-active;
      cursor: default;
    }

    &Hover {
      color: $color-hover;
      cursor: pointer;
    }
  }
}

.toolbarCardPanelOverlay {
  height: 100%;
  z-index: 8;

  .toolbarGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .toolbarKey {
    background-color: rgba($color-disabled, 0.75);
  }
}

.toolbarCardtext {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  // border: solid 1px red;

  .toolbarGroupText {
    // border: solid 1px blue;
  }

  .toolbarGroupUi {
    // border: solid 1px green;
  }
}
