@use '@styles/config/colors' as *;

.toolbar {
  position: absolute;
  display: flex;

  &--cardPanelOverlay {
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    right: 0;
    // border: solid 1px red;
  }

  &__btn {
    background-color: $color-transparent;
    cursor: pointer;
    transition:
      color 0.2s ease,
      cursor 0.2s ease;

    &--disabled {
      color: $color-disabled;
      cursor: not-allowed;
    }

    &--enabled {
      color: $color-enabled;
      cursor: default;
    }

    &--active {
      color: $color-active;
      cursor: default;
    }

    &--hover {
      color: $color-hover;
      cursor: pointer;
    }
  }
}
