.toolbar-tooltip {
  position: absolute;
  z-index: 1;
  top: -2.3rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  // visibility: hidden;
  border-radius: 4px;
  font: 0.8rem sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}
