@use '@styles/config/colors' as *;

.sectionEditorToolbar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: solid 1px $color-section-dark;

  &Top {
    position: absolute;
    // right: 0;
    top: 0;
    width: 100%;
    height: 50px;
    padding-left: 4rem;
    padding-right: 4rem;
    transform: translateY(-50%);
    z-index: -1;
    // border: solid 1px red;
  }

  &Right {
    position: absolute;
    right: 0;
    top: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(50%);
    z-index: -1;
  }

  &RightCropQuality {
    z-index: 1;
  }

  &RightCropPreview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    // border: solid 1px blue;
  }
}
