@use '@styles/config/colors' as *;

.sectionEditorToolbar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: solid 1px $color-section-dark;
  // border: solid 1px red;
}
