@use '@styles/config/colors' as *;

.cardtextContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardtext {
  width: 100%;
  padding: 0.35rem;
  box-sizing: border-box;
  border: 1px solid $color-section-light;
  border-radius: 0.5rem;
  box-shadow: $shadow-card;
  background-color: #fff;
}

.cardtextViewWrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.5rem;
  // overflow: hidden;
}

.cardtextToolbarRow {
  flex: 0 0 2rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 0;
  background-color: #fff;
  // border: solid 1px blue;
}

.cardtextViewContent {
  flex: 1;
  min-height: 0;
  position: relative;
  border-radius: 0.5rem;
  // overflow: hidden;
}
