@use '@styles/config/colors' as *;

.cardtextContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardtext {
  width: 100%;
  padding: 1rem;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: 1px solid $color-section-dark;
}

// .cardtext__nav-container {
//   position: absolute;
//   top: -2.4rem;
//   left: 1.2rem;
//   width: calc(100% - 2.4rem);
// }
