.cardtext {
  position: relative;
  width: 100%;
  padding: 1rem;
}

// .cardtext__nav-container {
//   position: absolute;
//   top: -2.4rem;
//   left: 1.2rem;
//   width: calc(100% - 2.4rem);
// }
