.header-date span {
  // margin: 0.5rem 1rem;
  // background-color: lightgray;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  // background-color: lightgray;

  // border: solid 1px green;
}

.date-title {
  user-select: none;
}

.date-title-year {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  // justify-content: flex-start;
}

// .date-title-year.active,
// .date-title-month.active {
// color: white;
// background-color: #007dd7;
// }

.date-title-month {
  display: flex;
  justify-content: center;
  width: 5.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  // border: solid 1px orange;
}

.date-title-year:hover,
.date-title-month:hover {
  cursor: pointer;
  // color: #007aac;
}

.date-title-day {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  user-select: none;
}
