@use '@styles/config/colors' as *;

.previewItem {
  position: relative;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.9rem;
  animation: fadeIn 0.2s ease-out;
  // border: solid 1px blue;

  // &.processed {
  //   border: solid 1px $color-section-dark;
  //   background-color: $color-section-dark;
  // }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    // transform: scale(1);
  }
  to {
    opacity: 1;
    // transform: scale(1);
  }
}

.previewImage {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.previewIndicator {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 50%;
  border: solid 1px white;
  background-color: $color-preview-indicator-delivered;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;

  &.processed {
    background-color: $color-preview-indicator-processed;
  }
  &.cart {
    background-color: $color-preview-indicator-cart;
  }
  &.ready {
    background-color: $color-preview-indicator-ready;
  }
  &.sent {
    background-color: $color-preview-indicator-sent;
  }
  &.delivered {
    background-color: $color-preview-indicator-delivered;
  }
  &.error {
    background-color: $color-preview-indicator-error;
  }
}
