@use '@styles/config/colors' as *;

.cardPreviewContainer {
  position: absolute;
  // inset: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // z-index: 1;
  height: 100%;
  // border: solid 1px orange;
}

.previewWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.9rem;
  // border: solid 1px blue;

  &.processed {
    border: solid 1px $color-section-dark;
    background-color: $color-section-dark;
  }
}
