@use '@styles/config/colors' as *;

.processed {
  //   position: relative;
  //   width: 3rem;
  //   // height: 100%;
  //   // margin: 0.85rem 0;
  //   border-radius: 0.9rem;
  //   overflow: hidden;
  //   border: solid 1px $color-section-dark;
  //   cursor: pointer;
  //   background-color: $color-section-dark;
  //   transition: border-color 0.2s;
  //   // transform 0.2s,
}

.previewItem {
  // position: relative;
  height: 100%;
  aspect-ratio: 1 / 1;
  // width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.9rem;
  animation: fadeIn 0.2s ease-out;
  // border: solid 1px blue;

  // &.processed {
  //   border: solid 1px $color-section-dark;
  //   background-color: $color-section-dark;
  // }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    // transform: scale(1);
  }
  to {
    opacity: 1;
    // transform: scale(1);
  }
}

// .previewImage {
//   // width: 100%;
//   // height: 100%;
//   object-fit: cover;
// }

.previewImage {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
}
