@use '@styles/config/colors' as *;

.cardPie {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 1rem;
  overflow: hidden;
  border: solid 1px blue;
}

.cardPieSector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform-origin: 50% 50%;

  clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 20%);
}

cardPieSector:nth-child(1) {
  transform: rotate(0deg);
  background: #da9a9a;
}
.cardPieSector:nth-child(2) {
  transform: rotate(72deg);
  background: #ffca28;
}
.cardPieSector:nth-child(3) {
  transform: rotate(144deg);
  background: #2ecc71;
}
.cardPieSector:nth-child(4) {
  transform: rotate(216deg);
  background: #3498db;
}
.cardPieSector:nth-child(5) {
  transform: rotate(288deg);
  background: #9b59b6;
}

.closeBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background-color: $color-preview-indicator-error;
}

// .donorModal {
//   position: absolute;
//   top: 1rem;
//   right: 1rem;
//   width: 320px;
//   background: white;
//   border-radius: 1rem;
//   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
//   border: 1px solid #e2e8f0;
//   z-index: 100;
//   animation: slideIn 0.3s cubic-bezier(0.16, 1, 0.3, 1);
//   overflow: hidden;

//   .miniThumb {
//     width: 6rem;
//     height: 6rem;
//     border-radius: 1rem;
//   }

//   .header {
//     background: #f8fafc;
//     padding: 0.75rem 1rem;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     border-bottom: 1px solid #eee;

//     h3 {
//       font-size: 0.9rem;
//       margin: 0;
//       color: #64748b;
//     }
//   }
// }
