.mark {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  min-height: 0;

  &Stamp {
    height: 100%;
    aspect-ratio: 0.7;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &StampNotActive {
    background-image: url('@envelope/assets/mark_os_cart.svg');
  }

  &StampPeekCart {
    background-image: url('@envelope/assets/mark_os_cart.svg');
  }

  &StampPeekReady {
    background-image: url('@envelope/assets/mark_os_ready.svg');
  }
}
