.mark {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  min-height: 0;

  &Stamp {
    height: 100%;
    aspect-ratio: 0.7;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &StampNotActive {
    background-image: url('@data/envelope/mark-not-active.svg');
  }
}
