.card-form-nav {
  display: flex;
  align-items: center;
  height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // border-radius: 4px;
  background-color: rgb(231, 231, 231);
  // border: solid 1px orchid;
}
