.calendar-week-title {
  display: flex;
  justify-content: center;
  width: 100%;

  &__sunmon {
    margin-right: 1rem;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
  }
}
