.shopping-container {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  // border: solid 1px blue;
}

.shopping-card:first-child {
  margin-left: 0;
}

.shopping-card {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: solid 1px rgb(173, 173, 173);
}

.shopping-card-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(163, 163, 163, 0.3);
  border-radius: 0.5rem;
  // border: solid 1px green;
}

.shopping-card-photo {
  border-radius: 0.5rem;
  // cursor: pointer;
}

.shopping-card-btn {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  .toolbar-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
