@use '@styles/config/colors' as *;

.envelope {
  position: relative;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: 3fr 1.5fr 1.5fr 3fr;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: 1px solid $color-section-dark;
}

.envelopeToolbar {
  position: absolute;
  top: -2.4rem;
  left: 1.2rem;
  width: calc(100% - 2.4rem);
}

.envelopeLogo {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  // aspect-ratio: 7.7586;
  background-image: url('@data/img/logo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.envelopeSection {
  display: flex;
  flex-direction: column;

  &Sender {
    margin-right: 0.3rem;
  }

  &Recipient {
    margin-left: 0.3rem;
  }
}

.envelopeSectionSender {
  grid-row: 2 / 12;
  grid-column: 1 / 3;
}

.envelopeSectionRecipient {
  grid-row: 6 / 14;
  grid-column: 3 / 5;
  justify-content: flex-end;
}

/* Панель списка получателей: absolute, отступы 0.5rem слева/сверху/снизу */
.recipientListPanelWrap {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem;
  width: calc(50% - 0.5rem); /* левая половина конверта минус отступ справа 0.5rem */
  min-height: 0;
  z-index: 1;
}

// .envelopeFieldset {
//   padding: 0.5rem;
//   border-radius: 1rem;
//   border: solid 1px lightgray;
// }

// .envelopeLegend {
//   user-select: none;
//   font-size: 1.6vh;
//   font-weight: 600;
//   padding: 4px;
//   text-transform: uppercase;
//   border: solid 1px yellowgreen;
// }
