@use '@styles/config/colors' as *;

.envelope {
  position: relative;
  display: grid;
  grid-template-rows: repeat(26, minmax(0, 1fr));
  grid-template-columns: 3fr 1.5fr 1.5fr 3fr;
  width: 100%;
  height: 100%;
  min-height: 0;
  padding: 1.2rem;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: 1px solid $color-section-dark;
}

.envelopeToolbar {
  position: absolute;
  top: -2.4rem;
  left: 1.2rem;
  width: calc(100% - 2.4rem);
}

.envelopeLeftSlot {
  grid-row: 1 / -1;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: repeat(26, 1fr);
  grid-template-columns: 1fr;
  // display: flex;
  // flex-direction: column;
  // min-height: 0;
  // border: 1px solid green;
}

.envelopeLogo {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  flex: 0 0 auto;
  width: 100%;
  min-height: 2.5rem;
  background-image: url('@data/img/logo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.envelopeRightSlot {
  grid-row: 1 / -1;
  grid-column: 3 / 5;
  display: grid;
  grid-template-rows: repeat(26, minmax(0, 1fr));
  grid-template-columns: 1fr;
  min-height: 0;
  position: relative;
}

.envelopeRightSlot .envelopeMark {
  grid-row: 1 / 7;
  grid-column: 1 / 2;
  position: relative;
  justify-content: flex-end;
}

.envelopeRightSlot .envelopeSectionRecipient {
  grid-row: 12 / 27;
  grid-column: 1 / 2;
}

.senderListPanelWrap {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.envelopeMark {
  position: relative;
  justify-content: flex-end;
}

.envelopeSection {
  display: flex;
  flex-direction: column;

  &Sender {
    margin-right: 0.3rem;
    flex: 1;
    min-height: 0;
  }

  &Recipient {
    margin-left: 0.3rem;
  }
}

.envelopeSectionSender {
  grid-row: 4 / 19;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  // min-height: 0;
  // border: solid 1px red;

  > form {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }
}

.envelopeSectionRecipient {
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-self: stretch;

  > form {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }
}

.recipientListPanelWrap {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
