@use '@styles/config/colors' as *;

.envelope {
  position: relative;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: 3fr 1.5fr 1.5fr 3fr;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: 1px solid $color-section-dark;
}

.envelopeToolbar {
  position: absolute;
  top: -2.4rem;
  left: 1.2rem;
  width: calc(100% - 2.4rem);
}

/* Левая колонка: либо логотип + форма Отправитель, либо панель списка получателей */
.envelopeLeftSlot {
  grid-row: 1 / -1;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.envelopeLogo {
  flex: 0 0 auto;
  width: 100%;
  min-height: 2.5rem;
  background-image: url('@data/img/logo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.envelopeSection {
  display: flex;
  flex-direction: column;

  &Sender {
    margin-right: 0.3rem;
    flex: 1;
    min-height: 0;
  }

  &Recipient {
    margin-left: 0.3rem;
  }
}

.envelopeSectionSender {
  /* внутри .envelopeLeftSlot */
}

.envelopeSectionRecipient {
  grid-row: 6 / 14;
  grid-column: 3 / 5;
  justify-content: flex-end;
}

/* Панель списка в левом слоте: отступы 0.5rem */
.recipientListPanelWrap {
  flex: 1;
  min-height: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

// .envelopeFieldset {
//   padding: 0.5rem;
//   border-radius: 1rem;
//   border: solid 1px lightgray;
// }

// .envelopeLegend {
//   user-select: none;
//   font-size: 1.6vh;
//   font-weight: 600;
//   padding: 4px;
//   text-transform: uppercase;
//   border: solid 1px yellowgreen;
// }
