.envelope {
  position: relative;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: 3fr 1.5fr 1.5fr 3fr;
  width: 100%;
  padding: 1.2rem;
}

.envelopeToolbar {
  position: absolute;
  top: -2.4rem;
  left: 1.2rem;
  width: calc(100% - 2.4rem);
}

.envelopeLogo {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  // aspect-ratio: 7.7586;
  background-image: url('@data/img/logo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.envelopeSection {
  display: flex;
  flex-direction: column;

  &Sender {
    margin-right: 0.3rem;
  }

  &Recipient {
    margin-left: 0.3rem;
  }
}

.envelopeSectionSender {
  grid-row: 2 / 12;
  grid-column: 1 / 3;
}

.envelopeSectionRecipient {
  grid-row: 6 / 14;
  grid-column: 3 / 5;
  justify-content: flex-end;
}

// .envelopeFieldset {
//   padding: 0.5rem;
//   border-radius: 1rem;
//   border: solid 1px lightgray;
// }

// .envelopeLegend {
//   user-select: none;
//   font-size: 1.6vh;
//   font-weight: 600;
//   padding: 4px;
//   text-transform: uppercase;
//   border: solid 1px yellowgreen;
// }
