.mini-date {
  user-select: none;
  color: #007aac;
  font-weight: 600;
}

.mini-date-day {
  font-size: 2.4rem;
  line-height: 2.2rem;
}

.mini-date-year,
.mini-date-month {
  font-size: 1rem;
}

.mini-date-month {
  margin-top: 0.2rem;
}
