.cardMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border-radius: 6px;
  font-size: 0.9em;
  background-color: #f9f9f9;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  border: solid 1px blue;

  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
  }
}
