@use '@styles/config/colors' as *;

.grid {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

.cell {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 0.75rem;
  box-sizing: border-box;
  border: 1px solid $color-section-light;
  background-color: $color-app-header;
  min-width: 2.7rem;
  min-height: 2.7rem;
}

.iconBg {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0.14;

  svg {
    width: 60%;
    height: 60%;
    color: $color-app-sidebar-icon;
  }
}

