.card-scroller__container {
  position: absolute;
  width: 100%;
  bottom: -2.5rem;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  border: solid 2px purple;
}

.card-scroller__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  background-color: rgb(220, 220, 220);
  border-radius: 0.25rem;
  outline: none;
  z-index: 1;

  &::-webkit-slider-runnable-track {
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(220, 220, 220);
  }

  &::-webkit-slider-runnable-track:hover {
    background-color: rgb(210, 210, 210);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(155, 155, 155);
    cursor: pointer;
  }

  &::-webkit-slider-thumb:hover {
    background-color: rgb(135, 135, 135);
  }
}

.card-scroller__letters {
  display: flex;
  justify-content: space-between;
  color: rgb(122, 122, 122);
  font-size: 0.8rem;
  font-weight: 600;
  width: 100%;
  height: 1.25rem;
}

.card-scroller__letter,
.card-scroller__letter--default {
  padding: 0 0.25rem 0.25rem 0.25rem;
  width: 1.1rem;
  box-sizing: border-box;
  cursor: pointer;
}
