@use '@styles/config/colors' as *;

$sliderThumbSize: 1rem;
$sliderHeight: 2px;
$sliderInactive: #c0c0c0;

.card-scroller__container {
  position: absolute;
  width: 100%;
  bottom: -2.5rem;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding-top: 0.5rem;
}

.card-scroller__slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: $sliderHeight;
  background-color: $color-section-light-completed;
  outline: none;
  z-index: 1;
  transition: background-color 0.2s ease;

  &:disabled {
    background-color: $sliderInactive;
    cursor: not-allowed;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $sliderHeight;
    background-color: $color-section-light-completed;
    transition: background-color 0.2s ease;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $sliderThumbSize;
    height: $sliderThumbSize;
    background-color: $color-section-light-completed;
    border-radius: 50%;
    cursor: pointer;
    margin-top: calc(-0.5rem + 1px);
    transition: background-color 0.2s ease;
  }

  &:hover:not(:disabled)::-webkit-slider-thumb {
    background-color: $color-section-dark-completed;
  }

  &:disabled::-webkit-slider-thumb {
    background-color: $sliderInactive;
    cursor: not-allowed;
  }

  // Firefox
  &::-moz-range-track {
    width: 100%;
    height: $sliderHeight;
    background-color: $color-section-light-completed;
  }

  &:disabled::-moz-range-track {
    background-color: $sliderInactive;
  }

  &::-moz-range-thumb {
    width: $sliderThumbSize;
    height: $sliderThumbSize;
    background-color: $color-section-light-completed;
    border-radius: 50%;
    cursor: pointer;
  }

  &:disabled::-moz-range-thumb {
    background-color: $sliderInactive;
    cursor: not-allowed;
  }
}

.card-scroller--inactive .card-scroller__slider {
  background-color: $sliderInactive;

  &::-webkit-slider-runnable-track {
    background-color: $sliderInactive;
  }

  &::-webkit-slider-thumb {
    background-color: $sliderInactive;
    cursor: default;
  }

  &::-moz-range-track {
    background-color: $sliderInactive;
  }

  &::-moz-range-thumb {
    background-color: $sliderInactive;
    cursor: default;
  }
}

.card-scroller__slider--shifted {
  // смещение для выравнивания с буквами при необходимости
}

.card-scroller__letters {
  display: flex;
  justify-content: space-between;
  color: $color-font-enabled-light;
  font-size: 0.75rem;
  font-weight: 400;
  width: 100%;
  min-height: 1.25rem;
  transition: color 0.15s ease-out;
}

.card-scroller__letter,
.card-scroller__letter--default {
  padding: 0 0.25rem 0.25rem 0.25rem;
  width: 1.1rem;
  box-sizing: border-box;
  cursor: pointer;

  &.active {
    font-weight: 700;
    color: $color-font-enabled-light-hover;
  }
}

.card-scroller__letters-placeholder {
  width: 100%;
  min-height: 1.25rem;
}
