@use '@styles/config/colors' as *;

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem 0;
}

.headerSide {
  display: flex;
  align-items: center;
}

.headerSide:last-child {
  display: flex;
  justify-content: flex-end;
}

.todaySelected {
  display: flex;
  font-size: 0.9rem;
  user-select: none;

  &Disabled {
    cursor: default;
    pointer-events: none;
    color: $color-font-disabled;
  }
}

.todaySelected:hover {
  color: $color-active;
}

.selected {
  display: flex;
  font-size: 0.9rem;
  justify-content: flex-end;
  color: $color-active;
}

.selected:hover {
  cursor: pointer;
}

.today {
  display: flex;
}

.headerCenter {
  display: flex;
}

.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: $color-section-light-completed;
  cursor: pointer;
  transition: background-color 0.2s ease;
  // border: solid 1px aquamarine;

  &Inactive {
    color: var(--text-secondary);
  }
}

.arrowButton:hover {
  background-color: $color-section-dark-completed;
}

.switcher {
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.iconArrow {
  // border: solid 1px red;
  color: $color-font-enabled-light;
  width: 1.2rem;
  height: 1.2rem;
  background-color: transparent;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.arrowButton:hover {
  .iconArrow {
    color: $color-font-enabled-light-hover;
    transform: scale(1.1);
  }
}

.iconTitle {
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 0.5rem;
}
