@use '@styles/config/colors' as *;

$sliderThumbSize: 1rem;
$sliderHeight: 2px;
$sliderThumbShadow: $color-toggle-active;

.sliderContainer {
  position: relative;
  width: 100%;
  padding-top: 1rem;
  // border: solid 1px green;
}

.sliderLabel {
  position: absolute;
  top: 0;
  display: flex;
  white-space: nowrap;
  transform: translateX(-50%);
  pointer-events: none;
  font-size: 0.75rem;
  opacity: 1;

  transition: left 0.15s ease-out;
}

.labelPart {
  color: $color-font-enabled-light;
  font-weight: 400;
  transition:
    opacity 0.3s ease,
    color 0.3s ease,
    font-weight 0.3s set-after;

  &.active {
    font-weight: 700;
    color: $color-font-enabled-light-hover;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
}

.dateSliderLine {
  margin: 0;
  width: 100%;
  height: $sliderHeight;
  background-color: $color-section-light-completed;
  outline: none;
  transition: background-color 0.2s ease;

  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }

  &:focus::-webkit-slider-thumb,
  &:focus::-moz-range-thumb,
  &:focus::-ms-thumb {
    background-color: $color-section-dark-completed;
  }

  // WebKit (Chrome, Safari, Edge)
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $sliderHeight;
    background-color: $color-section-light-completed;
    transition: background-color 0.2s ease;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $sliderThumbSize;
    height: $sliderThumbSize;
    background-color: $color-section-light-completed;
    border-radius: 50%;
    cursor: pointer;
    margin-top: calc(-0.5rem + 1px);
    transition: background-color 0.2s ease;
  }

  &:hover::-webkit-slider-thumb {
    background-color: $color-section-dark-completed;
  }

  // Firefox
  &::-moz-range-track {
    width: 100%;
    height: $sliderHeight;
    background-color: $color-section-light-completed;
    transition: background-color 0.2s ease;
  }

  &::-moz-range-thumb {
    width: $sliderThumbSize;
    height: $sliderThumbSize;
    background-color: $color-section-light-completed;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  &:hover::-moz-range-thumb {
    background-color: $color-section-dark-completed;
  }

  // IE / старый Edge
  &::-ms-track {
    width: 100%;
    height: $sliderHeight;
    background: transparent;
    color: transparent;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    height: $sliderHeight;
    background-color: $color-section-light-completed;
  }

  &::-ms-thumb {
    width: $sliderThumbSize;
    height: $sliderThumbSize;
    background-color: $color-section-light-completed;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  &:hover::-ms-thumb {
    background-color: $color-section-dark-completed;
  }
}
