$slider-color: #007aac;
$slider-thumb-size: 1rem;
$slider-height: 3px;
$slider-thumb-shadow: rgba(0, 122, 172, 0.3);

.date-slider__default {
  width: 100%;
  height: $slider-height;
  background-color: lightgray;
}

.date-slider__line {
  width: 100%;
  height: $slider-height;
  background-color: $slider-color;
  outline: none;
  transition: background-color 0.2s ease;

  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }

  &:focus::-webkit-slider-thumb,
  &:focus::-moz-range-thumb,
  &:focus::-ms-thumb {
    box-shadow: 0 0 0 4px $slider-thumb-shadow;
  }

  &--year,
  &--month {
    // модификаторы для будущих стилей
  }

  // WebKit
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $slider-height;
    background-color: $slider-color;
    transition: background-color 0.2s ease;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $slider-color;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -0.38rem;
    transition: background-color 0.2s ease;
  }

  // Firefox
  &::-moz-range-track {
    width: 100%;
    height: $slider-height;
    background-color: $slider-color;
    transition: background-color 0.2s ease;
  }

  &::-moz-range-thumb {
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $slider-color;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -0.38rem;
    transition: background-color 0.2s ease;
  }

  // IE / Edge
  &::-ms-track {
    width: 100%;
    height: $slider-height;
    background: transparent;
    color: transparent;
    background-color: $slider-color;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    height: $slider-height;
    background-color: $slider-color;
  }

  &::-ms-thumb {
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $slider-color;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -0.38rem;
    transition: background-color 0.2s ease;
  }
}
