.memory-list-container {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  // border: solid 1px blue;
}

// .memory-status-card:first-child {
//   margin-left: 0;
// }

.memory-list-card {
  position: absolute;
  // position: relative;
  // margin-left: 0.5rem;
  // margin-right: 0.5rem;
  display: flex;
  // padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 1px rgba(190, 190, 190, 0.4);
  transition: left 600ms ease-in-out;
  border: solid 1px rgb(220, 220, 220);
}

.memory-list-card.save {
  box-shadow: 0px 0px 6px 2px rgba(0, 125, 250, 0.6);
  transition: box-shadow 500ms ease-in;
}

.memory-list-card.save-fade-out {
  box-shadow: 2px 1px 6px 3px rgba(190, 190, 190, 0.4);
  transition: box-shadow 500ms ease-out;
}

// .memory-list-card-myaddress {
//   align-items: flex-start;
//   .memory-list-card-name {
//     width: auto;
//     left: 0.5rem;
//     right: 2.3rem;
//     top: 0.3rem;
//   }
// }

// .memory-list-card-toaddress {
//   justify-content: flex-end;
//   align-items: flex-end;
//   .memory-list-card-name {
//     text-align: right;
//     width: auto;
//     left: 0.5rem;
//     right: 0.3rem;
//     bottom: 0.3rem;
//   }
// }

.memory-list-card-shopping,
.memory-list-card-blanks {
  .memory-list-card-name {
    text-align: right;
    width: auto;
    left: 0.5rem;
    right: 0.3rem;
    bottom: 0.3rem;
  }
}

.memory-list-card-myaddress {
  flex-direction: column;
  // justify-content: flex-end;
  padding: 0.3rem 2.3rem 0.3rem 0.5rem;
}

.memory-list-card-toaddress {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
}

.memory-list-address-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.75);
  border-radius: 0.3rem;
  // border: solid 1px red;
}

.memory-list-address-container span {
  height: min-content;
  font-weight: 600;
  padding: 0 0.3rem 0.1rem 0.3rem;
  color: rgb(71, 71, 71);
  user-select: none;
}

.memory-list-myaddress-name,
.memory-list-toaddress-name {
  font-size: 0.8rem;
}

.memory-list-toaddress-name {
  text-align: right;
}

.memory-list-myaddress-country,
.memory-list-toaddress-country {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.7rem;
}

.memory-list-card-toaddress span {
  direction: ltr;
  text-align: right;
}

.memory-list-card-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(163, 163, 163, 0.3);
  border-radius: 0.5rem;
  // border: solid 1px green;
}

.memory-list-card-photo {
  border-radius: 0.5rem;
  // cursor: pointer;
}

.memory-list-card-name {
  position: absolute;
  height: min-content;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.3rem;
  background-color: rgba(240, 240, 240, 0.75);
  padding: 0 0.3rem 0.1rem 0.3rem;
  user-select: none;
  white-space: nowrap;
  color: rgb(71, 71, 71);
}

.memory-list-card-btn {
  position: absolute;
  // top: 0.3rem;
  right: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  // border: solid 1px green;
  .toolbar-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
