.toolbar-tooltip {
  position: absolute;
  z-index: 1;
  top: -2.1rem;
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: auto;
  border-radius: 4px;
  font: 0.8rem sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}
