.editor__toolbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 6rem);
  top: 0.2rem;
  left: 3rem;
}

.editor__toolbar-left,
.editor__toolbar-right {
  display: flex;
  align-items: center;
}
