.date {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  // box-sizing: border-box;
  // border-radius: 1rem;
  // border: solid 1px lightgray;
}

.nav-container-date {
  top: -3rem;
  left: 0;
  width: 100%;
}

.date-form {
  display: flex;
  flex-direction: column;
  margin: auto 2rem;
  height: 100%;
  box-sizing: inherit;
  // border: solid 1px red;
}

.date-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // border: solid 1px blueviolet;
}

.date-slider {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  // border: solid 1px green;
}

.date-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 100%;
  // border: solid 1px blue;
}

.header-left-right {
  display: flex;
  align-items: center;
  font-size: 1rem;
  // border: solid 1px red;
}

.icon-date {
  width: 1.6rem;
  height: 1.6rem;
  background-color: rgba(255, 255, 255, 0);
}

.header-today-selected {
  display: flex;
  width: 8rem;
  cursor: pointer;
  // border: solid 1px green;
}

.header-today-selected.disabled {
  background-color: rosybrown;
}

.header-selected {
  justify-content: end;
  color: #007dd7;
}

.header-today {
  display: flex;
}

.header-center {
  display: flex;
}

.header-sign {
  // width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  // background-color: lightgray;
  // border: solid 1px orangered;
}

.header-sign:hover {
  cursor: pointer;
  color: #007dd7;
}

.header-date {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: lightgray;
  // border: solid 1px orangered;
}
