@use '@styles/config/colors' as *;

.switcher {
  display: flex;
  align-items: center;
  // border: solid 1px blue;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWrapperMonth {
  // width: 7rem;
}

.buttonWrapperYear {
  // width: 7rem;
}

.button {
  width: 6rem;
  // text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  min-width: 4rem;
  padding: 0 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  font-weight: 500;
  font-size: 0.95rem;
  border: 1px solid transparent;

  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: $color-font-enabled;
  // background-color: $color-transparent;

  &Month {
    // font-family: 'Inter', sans-serif;
    // font-weight: 600;
    background-color: $color-disabled;
    transition: all 0.2s ease;
  }

  &Year {
    // margin-left: 0.5rem;
    // font-weight: 600;
    background-color: $color-disabled;
    transition: all 0.2s ease;
  }

  &Active {
    background-color: $color-enabled;
    color: $color-font-active;
    // border-color: $color-active;
  }

  &:hover {
    background-color: $color-enabled;
    color: $color-hover;
  }
}
