@use '@styles/config/colors' as *;

.cell {
  display: flex;
  color: $color-font-enabled;
  justify-content: center;
  align-items: center;
  margin: 0.275rem;
  // padding: 0.45rem 0.5rem 0.55rem 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  // border: solid 2px $color-transparent;
  user-select: none;
  cursor: pointer;

  &.title {
    cursor: default;
    user-select: none;
  }

  &.today {
    background-color: $color-enabled;
    // color: $color-font-enabled;
    // border: solid 2px $color-font-enabled;
  }

  &.dispatch {
    // color: white;
    // background-color: #007dd7;
    color: $color-font-active;
    background-color: $color-enabled;
    // border: solid 2px $color-font-active;

    &:hover {
      color: white;
    }
  }

  &.disabled {
    color: $color-font-disabled;
    cursor: default;
  }

  &.before,
  &.after {
    color: $color-font-disabled;

    &.selected {
      background-color: $color-font-active;
      color: $color-disabled;
    }
  }

  &.current {
    // color: $color-font-enabled;

    &.disabled {
      // color: $color-font-disabled;
      cursor: default;
    }

    &.disabled:hover {
      color: $color-font-disabled;
    }
  }

  &.current:hover {
    color: rgb(0, 125, 250);
  }

  &.current.cart:hover {
    color: black;
    cursor: default;
  }

  .cartContainer {
    position: relative;
    display: flex;
  }

  .cartFilter,
  .cartImg {
    width: 3.2rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  .cartFilter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(163, 163, 163, 0.5);

    &.selected {
      color: aqua;
    }
  }

  .cartShadow {
    padding: 0 0.1rem;
    color: rgb(240, 240, 240);
  }

  .cartCount {
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;
    background-color: #007dd7;
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
  }
}
