@use '@styles/config/colors' as *;

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  border: 1px solid $color-disabled;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1.42;

  // &:nth-last-child(-n + 7) {
  //   border-bottom: none;
  // }

  // &:nth-child(7n + 1) {
  //   border-left: none;
  // }

  // &:nth-child(7n) {
  //   border-right: none;
  // }
}

.dayNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0.9rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}

.cellContent {
  width: 100%;
  display: flex;
}

.title {
  cursor: default;
  user-select: none;
}

.today {
  .dayNumber {
    background-color: $color-enabled;
    border: solid 1px $color-enabled;
  }
}

.dispatch {
  &:hover {
    color: white;
  }

  .dayNumber {
    background-color: $color-font-active;
    border: solid 1px $color-font-active;
    color: $color-disabled;
  }
}

.disabled {
  color: $color-font-disabled;
  cursor: default;
}

.before,
.after {
  color: $color-font-disabled;
}

.selected {
  background-color: $color-font-active;
  color: $color-disabled;
}

.current {
  .dayNumber {
    font-weight: bold;
  }

  &:hover {
    color: rgb(0, 125, 250);
  }

  &.cart:hover {
    color: black;
    cursor: default;
  }
}

.cartContainer {
  position: relative;
  display: flex;
}

.cartImg,
.cartFilter {
  width: 3.2rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.cartFilter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(163, 163, 163, 0.5);
}

.cartShadow {
  padding: 0 0.1rem;
  color: rgb(240, 240, 240);
}

.cartCount {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  background-color: #007dd7;
  color: white;
  font-size: 0.75rem;
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
}
