@use '@styles/config/colors' as *;

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 2px 0.75rem;
  border: 1px solid $color-hover;
  border-radius: 1rem;
  cursor: pointer;
  // width: 4rem;
  // height: 4rem;

  // aspect-ratio: 1;

  &:hover {
    border: 1px solid $color-hover;
  }

  // &:nth-last-child(-n + 7) {
  //   border-bottom: none;
  // }

  // &:nth-child(7n + 1) {
  //   border-left: none;
  // }

  // &:nth-child(7n) {
  //   border-right: none;
  // }
}

.dayNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  z-index: 1;
  // top: 0.1rem;
  // right: 0.1rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  // color: #333;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.cellContent {
  width: 100%;
  display: flex;
}

.title {
  cursor: default;
  user-select: none;
}

.today {
  .dayNumber {
    background-color: $color-enabled;
    border: solid 1px $color-enabled;
  }
}

.dispatch {
  &:hover {
    color: white;
  }

  .dayNumber {
    background-color: $color-active;
    border: solid 1px $color-active;
    color: $color-disabled;
  }
}

.before,
.after {
  color: $color-font-disabled;
}

.selected {
  background-color: $color-active;
  color: $color-disabled;
}

.current {
  .dayNumber {
    font-weight: bold;
  }

  &:hover {
    color: $color-active;
    border: 1px solid $color-section-dark-completed;
  }

  &.cart:hover {
    color: black;
    cursor: default;
  }
}

.disabled {
  border: 1px solid $color-enabled;
  color: $color-font-disabled;
  cursor: default;

  &:hover {
    border: 1px solid $color-enabled;
    color: $color-font-disabled;
    // border: solid 1px red;s
  }
}

// .cartCount {
//   position: absolute;
//   bottom: -0.5rem;
//   right: -0.5rem;
//   background-color: #007dd7;
//   color: white;
//   font-size: 0.75rem;
//   padding: 0.2rem 0.4rem;
//   border-radius: 1rem;
// }
