.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  width: 1.4rem;
  height: 1rem;
  cursor: pointer;
  // border: solid 1px orange;
}

.cell-title {
  cursor: default;
}

.cell-day.day-current:hover {
  color: #007aac;
}

.day-before,
.day-after {
  color: rgb(165, 165, 165);
}

.cell.today {
  background-color: lightgray;
}

.cell.selected {
  color: white;
  background-color: #007aac;
}

.day-before.selected,
.day-after.selected {
  color: white;
  background-color: #b6dae9;
}
