@use '@styles/config/colors' as *;

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  // z-index: 1;
  &Top {
    background: rgba(72, 142, 247, 0.5);
    // border: solid 1px rgb(47, 120, 255);
  }

  &Left {
    background: rgba(235, 247, 72, 0.5);
    // border: solid 1px rgb(252, 255, 47);
  }

  &Right {
    background: rgba(72, 247, 72, 0.5);
    // border: solid 1px rgb(47, 255, 158);
  }

  &Bottom {
    background: rgba(227, 72, 247, 0.5);
    // border: solid 1px rgb(213, 47, 255);
  }
}
