@use '@styles/config/colors' as *;

.root {
  height: 100%;
  min-height: 2rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  background-color: $color-app-inner-light;
  box-shadow:
    $shadow-card,
    inset 0 0 0 3px $color-app-strip;
  display: flex;
  align-items: center;
  justify-content: center;
}

.strip {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

.cell {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: $shadow-card;
}
