.memory-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  // background-color: #ffffff;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: solid 1px rgb(173, 173, 173);
}

.memory-envelope-myaddress {
  justify-content: flex-start;
  align-items: start;
}

.memory-envelope-toaddress {
  justify-content: flex-end;
  align-items: end;
  text-align: right;
}

.memory-envelope-card p {
  font-size: 0.6rem;
}

.memory-envelope-toaddress p,
.memory-envelope-myaddress p {
  width: min-content;
  font-weight: 600;
  font-size: 0.8rem;
  box-sizing: border-box;
  // white-space: nowrap;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  user-select: none;
  color: rgb(71, 71, 71);
  background-color: rgb(240, 240, 240);
  // color: rgb(0, 125, 250);
}

.memory-card:first-child {
  margin-left: 0;
}

.card-mini-kebab-envelope {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: background-color 0.3s;
  .toolbar-icon {
    width: 1.3rem;
    height: 1.3rem;
    color: rgb(71, 71, 71);
  }
  // border: solid 1px blue;
}

.card-mini-kebab-envelope {
  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
    // .mini-kebab-icon {
    //   background-color: rgba($color: lightgray, $alpha: 0);
    // }
    // .icon-close {
    //   color: rgb(71, 71, 71);
    // }
  }
}
