@use '@styles/config/colors' as *;

@mixin preview-button-logic($parent-hover-class) {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4rem;
  padding: 0.1rem;
  background: $color-disabled;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition:
    opacity 0.2s ease,
    color 0.2s ease;

  svg {
    width: 0.9rem;
    height: 0.9rem;
    color: $color-font-disabled;
    transition: color 0.2s ease;
  }

  &:hover svg {
    color: $color-font-enabled;
  }

  #{$parent-hover-class}:hover & {
    opacity: 1;
  }
}
