@use '@styles/config/colors' as *;

.tile {
  // all: unset;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.075);
  border: solid 1px $color-section-light;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tile:hover {
  background-color: $color-disabled;
}

.tileSelected,
.tileSelected:hover {
  background-color: rgba($color-pie-aroma, 0.15);
  border-color: $color-pie-aroma-alpha;
}

.tileSelected:hover {
  cursor: default;
}

.tileSelected .tileImage,
.tileSelected .tileMake,
.tileSelected .tileName {
  background-color: transparent;
}

.tileMake {
  font-size: 0.65rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.tileName {
  font-size: 0.65rem;
  margin-bottom: 0.2rem;
}

.tileImage {
  display: block;
}
