@use '@styles/config/colors' as *;

.tile {
  // all: unset;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.075);
  border: solid 1px rgb(230, 230, 230);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tile:hover {
  background-color: $color-section-light-completed;
}

.tileSelected {
  background-color: $color-section-light-completed;
}

.tileSelected .tileImage,
.tileSelected .tileMake,
.tileSelected .tileName {
  background-color: transparent;
}

.tileMake {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.tileName {
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
}

.tileImage {
  display: block;
}
