.sectionEditorToolbar {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0);
}

.sectionEditorToolbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}

.sectionEditorToolbar__settings {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
}

.sectionEditorToolbar__more {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  background-color: white;
}

.sectionEditorToolbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 0.5rem;
  padding: 0.3rem;
  color: rgb(163, 163, 163);
}

.sectionEditorToolbar__icon {
  width: 1.1rem;
  height: 1.1rem;
}

.sectionEditorToolbar__fontSize,
.sectionEditorToolbar__color {
  width: auto;
}

.sectionEditorToolbar__fontSizeFull {
  display: flex;
  align-items: center;
  margin: 0 0.2rem;

  .sectionEditorToolbar__icon {
    width: 1rem;
  }

  .sectionEditorToolbar__iconFontSize {
    width: 1.1rem;
    height: 1.1rem;
  }
}

.sectionEditorToolbar__iconColor {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1rem;
}

.sectionEditorToolbar__iconDash {
  display: flex;
  border-radius: 2px;
  width: 0.9rem;
  height: 0.12rem;
}

.sectionEditorToolbar__inputHidden {
  display: none;
}
