@use '@styles/config/colors' as *;

.hubContainer {
  --pie-cardphoto: #{$color-pie-cardphoto};
  --pie-cardtext: #{$color-pie-cardtext};
  --pie-envelope: #{$color-pie-envelope};
  --pie-aroma: #{$color-pie-aroma};
  --pie-date: #{$color-pie-date};

  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 1rem;
  z-index: 7;
  box-shadow: 1px 1px 5px 3px rgba(34, 60, 80, 0.2);
}

.rectCardphoto {
  fill: var(--pie-cardphoto);
}
.rectCardtext {
  fill: var(--pie-cardtext);
}
.rectEnvelope {
  fill: var(--pie-envelope);
}
.rectAroma {
  fill: var(--pie-aroma);
}
.rectDate {
  fill: var(--pie-date);
}

.pieBgRect {
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

.svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.sector {
  cursor: pointer;
  transition:
    opacity 0.2s,
    transform 0.2s,
    filter 0.2s;
  stroke: $color-font-disabled;
  stroke-width: 20;

  &:hover {
    filter: brightness(1.1);
    opacity: 0.9;
  }

  &.active {
    filter: brightness(1.2) drop-shadow(0 0 15px rgba(255, 255, 255, 0.6));
    stroke: $color-font-disabled;
    stroke-width: 40;
    transform: scale(1.02);
    transform-origin: center;
  }
}
