.cardSectionEditor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  // border: solid 1px blue;
  // background-color: rgba(255, 255, 255, 0);
}
