.cardSectionEditor {
  position: relative;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // border: solid 1px orchid;
  // background-color: rgba(255, 255, 255, 0);
}

.editorToolbar {
  position: absolute;
  // width: 100%;
  // height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border: solid 1px blue;
}

.editorSection {
  position: absolute;
  // width: 200px;
  // height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: solid 1px green;
}
