.status-container {
  display: flex;
  width: 200px;
  .toolbar-btn {
    position: relative;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    // border: solid 1px orange;
    .toolbar-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.counter-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}

.status-counter-container {
  top: 0;
  left: 1.5rem;
}

.shopping-counter-container {
  background-color: rgb(0, 125, 250);
  color: rgb(240, 240, 240);
}

.clip-counter-container {
  background-color: rgb(155, 155, 155);
  color: rgb(240, 240, 240);
}

.status-counter {
  padding: 0.1rem 0.25rem;
  font-size: 0.7rem;
  font-weight: 600;
}
