.cardMenuButton {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background-color: rgb(240, 240, 240);
  transition: background-color 0.2s ease;

  &:hover:not(:disabled) {
    background-color: rgb(220, 220, 220);
  }

  &.active {
    background-color: rgb(220, 220, 220);
  }

  &.disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
  }

  &:last-child {
    margin-top: 2rem;
  }

  &--cardtext {
  }
  &--envelope {
  }
  &--aroma {
  }
  &--cardphoto {
  }
  &--date {
  }
  &--history {
  }
}
