@use '@styles/config/colors' as *;

.cardMenuButton {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background-color: $color-section-light-completed;
  // background: linear-gradient(
  //   to right,
  //   $color-section-light,
  //   $color-section-dark
  // );
  // background-color: $color-enabled;
  transition: background-color 0.2s ease;

  &:hover:not(:disabled) {
    background-color: $color-section-dark-completed;
    // color: $color-active;
  }

  &.active {
    background-color: $color-section-dark-completed;
    // background: linear-gradient(
    //   to right,
    //   $color-section-light-completed,
    //   $color-section-dark-completed
    // );
    // background-color: $color-base-completed;
  }

  &.disabled {
    cursor: default;
    // opacity: 0.8;
    pointer-events: none;
  }

  &:last-child {
    margin-top: 2rem;
  }

  // &Cardphoto {
  //   background-color: $color-base-cardphoto;

  //   &:hover {
  //     background-color: $color-base-cardphoto-hover;
  //   }

  //   &.active {
  //     background-color: $color-base-cardphoto-hover;
  //   }
  // }
  // &Cardtext {
  //   background-color: $color-base-cardtext;

  //   &:hover {
  //     background-color: $color-base-cardtext-hover;
  //   }
  // }
  // &Envelope {
  //   background-color: $color-base-envelope;

  //   &:hover {
  //     background-color: $color-base-envelope-hover;
  //   }
  // }
  // &Aroma {
  //   background-color: $color-base-aroma;

  //   &:hover {
  //     background-color: $color-base-aroma-hover;
  //   }
  // }
  // &Date {
  //   background-color: $color-base-date;

  //   &:hover {
  //     background-color: $color-base-date-hover;
  //   }
  // }
  // // &History {
  // }
}
