.card-puzzle {
  // position: absolute;
  display: flex;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: solid 1px rgb(173, 173, 173);
  // top: 80px;
  // margin-top: 1rem;
  // box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.2);
  // border: solid 1px rgb(173, 173, 173);
  // box-shadow: 2px 2px 12px 6px rgba(34, 60, 80, 0.4);
  // border: solid 1px orange;
}
