.envelope {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 1rem;
}

.envelope-my-address {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  // border: solid 1px blueviolet;
}

.envelope-logo {
  color: #007aac;
  font-style: italic;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  // border: solid 1px brown;
}

.envelope-to-address {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  // border: solid 1px yellowgreen;
}

.envelope-fieldset {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 1rem;
  border: solid 1px lightgray;
}

.envelope-legend {
  user-select: none;
  font-size: 1.6vh;
  font-weight: 600;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
