body {
  font-size: $font-size-base;
  font-family: $font-main;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}
