@use '@styles/config/colors' as *;

.cardPanel {
  position: relative;
  width: 100%;
  // height: 100%;
  border-radius: 1rem;
  scroll-behavior: smooth;
  // border: solid 1px orange;

  &Pie {
    position: absolute;
    // display: flex;
    // justify-content: flex-end;
    left: 0;
    z-index: 6;
    border-radius: 1rem;
    // width: 100%;
    // height: 100%;
    // border: solid 1px purple;
  }

  .pieToolbar {
    position: absolute;
    right: -2rem;
    width: 3rem;
    height: 100%;
    display: flex;
    border-radius: 0 1rem 1rem 0;
    // flex-direction: column;
    justify-content: flex-end;
    // align-items: end;
    // z-index: 8;
    border-top: solid 1px $color-section-dark;
    border-right: solid 1px $color-section-dark;
    border-bottom: solid 1px $color-section-dark;
  }

  &Filter {
    position: absolute;
    border-radius: 0.5rem;
    z-index: 6;
  }

  &MemoryList {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 0.5rem;
  }

  &MiniCards {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-size: contain;
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    // z-index: 7;
    // border: solid 1px red;

    &Full {
      box-shadow: 0 0 6px 3px rgba(255, 89, 0, 0.6);
      transition: box-shadow 300ms ease-in;
    }

    &FadeOut {
      box-shadow: 2px 1px 6px 3px rgba(190, 190, 190, 0);
      transition: box-shadow 300ms ease-out;
    }
  }

  &MiniPattern {
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
    border: 1px solid rgb(173, 173, 173);
  }

  &Icons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    height: 100%;
  }

  &Line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem;

    &Btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2.5rem;
      border: none;
      width: 1.7rem;
      height: 1.7rem;

      &Icon {
        width: 1.2rem;
        height: 1.2rem;
      }

      &Menu {
        color: rgba(71, 71, 71, 0);
        background-color: rgba(240, 240, 240, 0);
        transition:
          background-color 300ms ease-in-out,
          color 300ms ease-in-out;

        &.cardPanelLineBtnFull {
          background-color: rgba(240, 240, 240, 0.75);
        }
      }

      &Arrows {
        position: absolute;
        left: calc(50% - 1.5rem);
        top: calc(50% - 1.5rem);
        width: 3rem;
        height: 3rem;
        color: rgba(240, 240, 240, 0);
        background-color: rgba(0, 125, 250, 0);
        transition:
          background-color 300ms ease-in-out,
          color 300ms ease-in-out;

        &.cardPanelLineBtnFull {
          color: rgba(240, 240, 240, 1);
          background-color: rgba(255, 89, 0, 0.6);
        }

        .cardPanelLineBtnIcon {
          width: 1.9rem;
          height: 1.9rem;
        }
      }

      &:hover {
        transition: background-color 0.3s;
      }
    }
  }
}

// .actionsButton {
//   color: red;
//   border: solid 1px aquamarine;
// }
