@use '@styles/config/colors' as *;

.envelopeOverlay {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &Sections {
    position: absolute;
    display: flex;
    inset: 0;

    .section {
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        $color-section-light,
        $color-section-dark
      );
      // background-color: $color-base;
    }

    .completed {
      background: linear-gradient(
        to right,
        $color-section-light-completed,
        $color-section-dark-completed
      );
    }

    .sectionCardphoto {
      border-radius: 0.5rem 0 0 0.5rem;
      // background-color: $color-base-cardphoto;
    }

    .sectionCardtext {
      // background-color: $color-base-cardtext;
    }

    .sectionEnvelope {
      // background-color: $color-base-envelope;
    }

    .sectionAroma {
      // background-color: $color-base-aroma;
    }

    .sectionDate {
      border-radius: 0 0.5rem 0.5rem 0;
      // background-color: $color-base-date;
    }
  }

  &HitBox {
    position: absolute;
    inset: 0;
    z-index: 8;
    display: flex;

    .hitSection {
      width: 100%;
    }
  }
}

.envelopeIcon {
  position: absolute;
  display: block;
  border-radius: 0.5rem;
  border: solid 1px rgba($color-font-disabled, 0.4);
  width: 100%;
  height: 100%;
  color: rgba($color-font-disabled, 0.6);
  opacity: 0.6;
  z-index: 7;
  pointer-events: none;
}

.envelopeOverlayToolbarContainer {
  display: flex;
  // flex-direction: column;
  // height: 100%;
}
