@use '@styles/config/colors' as *;

.envelopeOverlay {
  position: relative;
}

.envelopeOverlaySvg {
  position: absolute;
  z-index: 7;
  pointer-events: none;
}

.envelopeOverlayPlug {
  position: absolute;
  opacity: 0;
}

.envelopeOverlaySvg {
  display: block;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  color: $color-font-disabled;
  opacity: 0.6;
}
