.calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.5fr, repeat(6, 1fr);
  height: 100%;

  &Days {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2/8;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
