.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.45rem 0.5rem 0.55rem 0.5rem;
  width: 2.2rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  // cursor: pointer;
  user-select: none;
  // border: solid 1px orange;
}

.cell-title {
  cursor: default;
  user-select: none;
}

.cell-cart-container {
  position: relative;
  display: flex;
  // border: solid 1px orange;
}

.cell-cart-filter,
.cell-cart-img {
  width: 3.2rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  // border: solid 1px red;
  // cursor: pointer;
}

.cell-cart-filter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  // font-weight: 600;
  background-color: rgba(163, 163, 163, 0.5);
}

.cell-cart-shadow {
  padding: 0 0.1rem;
  // border-radius: 1rem;
  color: rgb(240, 240, 240);
  // border: solid 1px orange;
  // background-color: rgba(71, 71, 71, 0.5);
  // box-shadow: 0 1px 0.3rem 0.3rem rgba(71, 71, 71, 0.5);
}
.cell-cart-filter.selected {
  // font-weight: 600;
  // color: rgb(0, 125, 250);
}

.day-before,
.day-after {
  cursor: pointer;
  color: rgb(163, 163, 163);
}

.cell.today {
  background-color: rgb(240, 240, 240);
}

.cell.selected {
  color: white;
  background-color: #007dd7;
}

.cell.selected:hover {
  color: white;
}

.day-before.selected,
.day-after.selected {
  color: white;
  background-color: #b6dae9;
}

.day-current {
  cursor: pointer;
}

.day-current.cart {
  cursor: default;
}

.day-current:hover {
  color: rgb(0, 125, 250);
}

.day-current.cart:hover {
  color: black;
}

.day-current.taboo {
  color: rgb(163, 163, 163);
  cursor: default;
}
