@use '@styles/config/colors' as *;

.thumbCell {
  position: relative;
  flex-shrink: 0;
  border-radius: 0.35rem;
  box-sizing: border-box;
  border: 1px solid $color-section-light;
  background-color: $color-app-header;
  overflow: hidden;
  cursor: pointer;
}

.thumbImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: calc(0.35rem - 1px);
  vertical-align: top;
}
