.headerLogo {
  display: flex;
  width: 20vw;

  &--left {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &.compact {
    width: 120px;
  }
}

.headerLogo__image {
  width: 100%;
  height: 30px;
  background-image: url('../../data/img/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
