.headerLogo {
  display: flex;
}

.headerLogo--xs {
  width: 100px;
}

.headerLogo--sm {
  width: 140px;
}

.headerLogo--md {
  width: 180px;
}

.headerLogo--lg {
  width: 220px;
}

.headerLogo--xl {
  width: 260px;
}

.headerLogo__image {
  width: 100%;
  height: 30px;
  background-image: url('@shared/assets/images/logo-app.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
