.card-mini-puzzle {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  border: solid 1px rgb(173, 173, 173);
  // border: solid 1px blue;
}

.img-card-mini {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;

  // border: solid 1px blueviolet;
}
