@use '@styles/config/colors' as *;

.sectionEditorMenu {
  position: absolute;
  left: -1.2rem;
}

.sectionEditorMenuButton {
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.9rem;
  background-color: white;
  border: solid 1px $color-section-dark;
  // border: solid 1px orange;
}
