.card-mini-section {
  // position: relative;
  position: absolute;
  display: flex;
  flex-direction: column;
  // margin-left: 1rem;
  // padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  // box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
  // border: solid 1px rgb(173, 173, 173);
  user-select: none;
}

.card-mini-poly {
  position: absolute;
  margin-left: 0;
  border: solid 1px blue;
}

// .card-mini-color-filter {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 0.5rem;
// }

.mini-section-title {
  font-size: 0.8rem;
}

.mini-section-date,
.mini-section-aroma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mini-section-cardphoto {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.card-mini-kebab {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgba(240, 240, 240, 0.85);
  transition: background-color 0.3s;
  cursor: pointer;
  // border: solid 1px blue;
}

.card-mini-kebab {
  &:hover {
    background-color: rgba(240, 240, 240, 0.85);
    // .mini-kebab-icon {
    //   background-color: rgba($color: lightgray, $alpha: 0);
    // }
    // .icon-close {
    //   color: rgb(71, 71, 71);
    // }
  }
}

.mini-kebab-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../../data/envelope/icon_mini-kebab.svg');
  background-repeat: no-repeat;
  background-color: rgba($color: #ffffff, $alpha: 0);
  // border: solid 1px green;
}

.icon-close {
  height: 1.2rem;
  width: 1.2rem;
  color: rgb(71, 71, 71);
  background-color: rgba(255, 255, 255, 0);
  // border: solid 1px red;
}
