.card-mini-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  // background-color: #ffffff;
  box-shadow: 2px 2px 6px 4px rgba(34, 60, 80, 0.3);
  // border: solid 1px blue;
}

.mini-section-title {
  font-size: 0.8rem;
  // border: solid 1px red;
}

.mini-section-date,
.mini-section-aroma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-mini-kebab {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  // background-color: lightgray;
  background-color: rgba($color: #ffffff, $alpha: 0);
  cursor: pointer;
  // border: solid 1px blue;
}

.card-mini-kebab {
  &:hover {
    background-color: rgba($color: lightgray, $alpha: 0.45);
    .mini-kebab-icon {
      background-color: rgba($color: lightgray, $alpha: 0);
    }
  }
}

.mini-kebab-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  width: 24px;
  height: 24px;
  background-image: url('../../../data/envelope/icon_mini-kebab.svg');
  background-repeat: no-repeat;
  background-color: rgba($color: #ffffff, $alpha: 0);
  // border: solid 1px green;
}
