@use '@styles/config/colors' as *;

.cardSectionToolbar {
  height: 2rem;
  display: flex;
  align-items: center;
  // border: solid 1px red;
}

.cardSectionToolbarHeader {
  height: 100%;
  display: flex;
  align-items: center;
  // border: solid 1px blue;
}
