.toolbar-date {
  position: absolute;
  // top: calc(-4rem + 2px);
  top: -0.75rem;
  left: 2rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  // padding-left: 0.5rem;
  // padding-right: 0.5rem;
  // border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0);
  // z-index: 1;
  // border: solid 1px green;
}

.toolbar-btn-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.3rem;
  // border: solid 1px red;
}

.toolbar-date-text {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  user-select: none;
  background-color: rgb(255, 255, 255);
}
