.calendar-week-title__sunmon-toggle {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: color 0.2s ease;
}

.calendar-week-title__sunmon-label {
  background-color: transparent;
}

.calendar-week-title__sunmon-toggle:hover .calendar-week-title__sunmon-label {
  color: #007dd7;
}
