.sun-mon {
  &__toggle {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: color 0.2s ease;

    &:hover .sun-mon__label {
      color: #007dd7;
    }
  }

  &__label {
    background-color: transparent;
  }
}
