.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 16fr;
  // flex-direction: column;
  width: 100vw;
  height: 100vh;
  // border: solid 1px red;

  &Header {
    grid-column: 1/2;
    grid-row: 1/2;
    // border: solid 1px orange;
  }

  // &__header {
  //   display: flex;
  //   justify-content: space-between;
  //   padding-top: 0.4rem;
  //   padding-right: 1rem;
  //   padding-left: 1rem;
  // }

  &Main {
    grid-column: 1/2;
    grid-row: 2/13;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 7fr;
    // width: 100%;
    // height: 100%;
    padding-right: 1rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    // border: solid 1px purple;
    overflow: hidden;
  }

  // &__additional-menu {
  //   width: 100%;
  //   height: 2rem;
  // }
}

.mainCardPanel {
  grid-row: 1/2;
  grid-column: 1/2;
  border-radius: 1rem;
  padding-top: 1rem;
  // width: 100%;
  // height: 100%;
  // border: solid 1px yellowgreen;
}

.mainForm {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // padding: 1rem;
  // width: 100%;
  // height: 100%;
  border-radius: 1rem;
  // border: solid 1px brown;
  // border: solid 1px rgb(212, 212, 212);
}
