.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-top: 0.4rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &Main {
    display: flex;
    height: 100%;
    padding-right: 1rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    // border: solid 1px yellowgreen;
  }

  &Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    // border: solid 1px rgb(212, 212, 212);
  }

  // &__additional-menu {
  //   width: 100%;
  //   height: 2rem;
  //   border: solid 1px brown;
  // }
}
