@use '@styles/config/colors' as *;

.miniEnvelope {
  display: grid;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  grid-template-columns: 3fr 1.5fr 1.5fr 3fr;
  grid-template-rows: repeat(13, 1fr);
  // border: solid 1px red;
}

.miniEnvelopeLogo {
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url('@data/img/logo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.miniEnvelopeAddress {
  width: 100%;
}

// .miniEnvelopeSender {
//   grid-column: 1 / 3;
//   grid-row: 3 / 9;
// }

.miniEnvelopeRecipient {
  display: flex;
  align-items: flex-end;
  grid-column: 2 / 5;
  grid-row: 8 / 14;
}
