@use '@styles/config/colors' as *;

.miniDate {
  user-select: none;
  color: $color-font-active;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: solid 1px $color-section-light;
  border-radius: 1rem;
  box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.12);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &Day {
    font-size: 2.4rem;
    line-height: 2.2rem;
  }

  &Year,
  &Month {
    font-size: 1rem;
  }

  &Month {
    margin-top: 0.2rem;
  }
}

.miniDate:hover {
  border-color: $color-pie-date-alpha;
  box-shadow: 0 0 10px 4px $color-pie-date-alpha;
}
