.miniCardtextWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  height: 100%;
}

// .miniCardtextScaled {
//   // размеры и transform задаются через style
// }

.miniCardtextEditable {
  width: 100%;
  height: 100%;
  text-align: left;
}
