@use '@styles/config/colors' as *;
@use '@shared/assets/styles/mixins' as *;

.miniEnvelope {
  position: relative;
  display: grid;
  padding: 0.25rem;
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.15rem;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.miniEnvelopeSender {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 0 0 100% 0;
  background-color: $color-envelope-sender;
  // border: 1px solid red;
}

.miniEnvelopeSenderName {
  position: absolute;
  top: 0.5rem;
  left: 0.25rem;
  width: 80%;
  height: 1.2rem;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  overflow: hidden;
  color: $color-envelope-sender-legend;
  // border: 1px solid blue;
}

.miniEnvelopeSenderNameOverflow {
  mask-image: linear-gradient(to right, black 0, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(
    to right,
    black 0,
    black 85%,
    transparent 100%
  );
}

.miniEnvelopeSenderNameInner {
  display: block;
  width: max-content;
  max-width: 100%;
  white-space: nowrap;
}

.miniEnvelopeCircles {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  color: $color-envelope-recipient-legend;
}

.miniEnvelopeMany .miniEnvelopeCircles {
  color: $color-toggle-active;
}

.miniEnvelopeSingleCircles {
  color: $color-envelope-recipient-legend;

  .miniEnvelopeCircle:nth-child(1) {
    background-color: #fff;
    opacity: 1;
  }

  .miniEnvelopeCircle:nth-child(2) {
    background-color: $color-envelope-recipient;
    opacity: 1;
  }
}

.miniEnvelopeCircle {
  position: absolute;
  bottom: 3%;
  right: 3%;
  transform: translate(50%, 50%);
  border-radius: 50%;
  background-color: currentColor;
  transition:
    width 0.2s ease,
    max-height 0.2s ease,
    opacity 0.2s ease;
}

// .miniEnvelopeRecipientIconSingle {
//   color: rgba($color-envelope-recipient-legend, 0.28);
// }

// .miniEnvelopeRecipientIconMultiple {
//   color: rgba($color-envelope-recipient-legend, 0.35);
// }

.miniEnvelopeSingleContent,
.miniEnvelopeCount {
  grid-column: 1/2;
  grid-row: 2/4;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 1rem;
  padding-top: 0.75rem;
}

.miniEnvelopeSingleContent .miniEnvelopeName,
.miniEnvelopeCount {
  overflow: hidden;
  font-weight: 700;
  font-size: 1rem;
  color: $color-envelope-recipient-legend;
  line-height: 1.2;
  letter-spacing: 0.02em;
  z-index: 2;
}

.miniEnvelopeCount {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.02em;
  color: $color-envelope-recipient-legend;
}

.miniEnvelopeSingleContent .miniEnvelopeNameOverflow {
  mask-image: linear-gradient(to right, black 0, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(
    to right,
    black 0,
    black 85%,
    transparent 100%
  );
}

.miniEnvelopeSingleContent .miniEnvelopeNameInner {
  display: block;
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  text-align: left;
  white-space: nowrap;
}

.miniEnvelopeSingleContent .miniEnvelopeCountry {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0.25rem;
  overflow: hidden;
  border-radius: 0 0 0.5rem 0;

  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $color-envelope-recipient-legend;
}

.miniEnvelopeSingleContent .miniEnvelopeCountryOverflow {
  mask-image: linear-gradient(to right, black 0, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(
    to right,
    black 0,
    black 85%,
    transparent 100%
  );
}

.miniEnvelopeSingleContent .miniEnvelopeCountryInner {
  display: block;
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  text-align: left;
  white-space: nowrap;
}

.miniEnvelopeAddress {
  color: $color-envelope-recipient-legend;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.previewButton {
  @include preview-button-logic('.miniEnvelope');
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 1.1rem;
  height: 1.1rem;
  border: 1px solid $color-envelope-sender-input-border;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: $color-envelope-sender-input-border;
  cursor: pointer;
  z-index: 4;

  svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}
