@use '@styles/config/colors' as *;
@use '@shared/assets/styles/mixins' as *;

.miniEnvelope {
  position: relative;
  display: grid;
  padding: 0.4rem;
  height: 100%;
  width: 100%;
  border: solid 1px $color-section-light;
  border-radius: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.12);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.miniEnvelope:hover,
.miniEnvelope.hovered {
  border-color: $color-pie-envelope-alpha;
  box-shadow: 0 0 10px 4px $color-pie-envelope-alpha;
}

.miniEnvelopeLogo {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 75%;
  background-image: url('@data/img/logo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
  // border: solid 1px red;
}

.miniEnvelopeMack {
  display: flex;
  justify-content: flex-end;
}

.miniEnvelopeAddress {
  color: $color-font-deepBlack;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}

.miniEnvelopeName {
  grid-column: 1/2;
  grid-row: 2/3;
  // font-size: 1.2rem;
  display: block;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  align-content: center;
}

.miniEnvelopeCity {
  grid-column: 1/2;
  grid-row: 3/4;
  align-content: center;
  font-size: 0.8rem;
}

.previewButton {
  @include preview-button-logic('.miniEnvelope');
}
