@use '@styles/config/colors' as *;
@use '@shared/assets/styles/mixins' as *;

.miniAroma {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: solid 1px $color-section-light;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.miniAroma:hover,
.miniAroma.hovered {
  border-color: $color-toggle-active-hover;
}

.miniAromaImg {
  border-radius: 0.5rem;
  object-fit: contain;
  height: 85%;
}

.previewButton {
  @include preview-button-logic('.miniAroma');
}
