@use '@styles/config/colors' as *;
@use '@shared/assets/styles/mixins' as *;

.miniCardtext {
  position: relative;
  padding: 0.25rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  border: solid 1px $color-section-light;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.miniCardtext:hover,
.miniCardtext.hovered {
  border-color: $color-toggle-active-hover;
}

.previewButton {
  @include preview-button-logic('.miniCardtext');
}
