@use '@styles/config/colors' as *;

.miniCardphoto {
  border-radius: 1rem;
  opacity: 0;
  object-fit: cover;
  overflow: hidden;
  transition: opacity 150ms ease-in-out;
  border: solid 1px $color-section-light;
  border-radius: 1rem;
  box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.12);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.miniCardphoto:hover,
.miniCardphoto.hovered {
  border-color: $color-pie-cardphoto-alpha;
  box-shadow: 0 0 10px 4px $color-pie-cardphoto-alpha;
}

.miniCardphoto.visible {
  opacity: 1;
}
