@use '@styles/config/colors' as *;

.miniDate {
  user-select: none;
  color: $color-font-active;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &Day {
    font-size: 2.4rem;
    line-height: 2.2rem;
  }

  &Year,
  &Month {
    font-size: 1rem;
  }

  &Month {
    margin-top: 0.2rem;
  }
}
