@use '@styles/config/colors' as *;

.miniEnvelope {
  display: grid;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  // border: solid 1px red;
}

.miniEnvelopeLogo {
  grid-column: 1/6;
  grid-row: 1/2;
  background-image: url('@data/img/logo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.miniEnvelopeMack {
  display: flex;
  justify-content: flex-end;
  grid-column: 7/8;
  grid-row: 1/3;
  // border: solid 1px blue;
}

.miniEnvelopeRecipient {
  grid-column: 1 / 8;
  grid-row: 3 / 7;
  // border: solid 1px red;
}
