@use '@styles/config/colors' as *;
@use '@shared/assets/styles/mixins' as *;

.miniDate {
  position: relative;
  user-select: none;
  color: $color-font-active;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 0.75rem;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &Day {
    font-size: 2.4rem;
    line-height: 2.2rem;
  }

  &Year,
  &Month {
    font-size: 1rem;
  }

  &Month {
    margin-top: 0.2rem;
  }
}

.previewButton {
  @include preview-button-logic('.miniDate');
}
