.miniEnvelope {
  display: grid;
  padding: 0.5rem;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.4fr 4fr 4fr;
}

.miniEnvelopeLogoContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
}

.miniEnvelopeLogo {
  width: 100%;
  background-image: url('@data/img/logo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.miniEnvelopeAddress {
  padding: 0.5rem;
}

.miniEnvelopeSender {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.miniEnvelopeRecipient {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
