@use '@styles/config/colors' as *;
@use '@shared/assets/styles/mixins' as *;

.miniCardphoto {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0.75rem;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    outline: none;
    vertical-align: top;
  }
}

.previewButton {
  @include preview-button-logic('.miniCardphoto');
  // border: solid 1px blue;
}
