@use '@styles/config/colors' as *;
@use '@shared/assets/styles/mixins' as *;

.miniCardphoto {
  border-radius: 1rem;
  object-fit: cover;
  overflow: hidden;
  transition: opacity 150ms ease-in-out;
  border-radius: 1rem;
  border: solid 1px transparent;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.miniCardphoto:hover,
.miniCardphoto.hovered {
  border-color: rgba($color-toggle-active, 0.5);
}

.previewButton {
  @include preview-button-logic('.miniCardphoto');
  // border: solid 1px blue;
}
