@use '@styles/config/colors' as *;
@use '@shared/assets/styles/mixins' as *;

.miniAroma {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.miniAromaImg {
  border-radius: 0.5rem;
  object-fit: contain;
  height: 76%;
}

.previewButton {
  @include preview-button-logic('.miniAroma');
}
