@use '@styles/config/colors' as *;

.slider {
  position: relative;
  width: 10rem;
  height: 2.5rem;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // border: solid 1px red;
}

.slider:hover .sliderTextLayer {
  background-color: $color-section-dark-completed;
}

.sliderTextLayer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  background-color: $color-section-light-completed;

  transition:
    clip-path 0.4s ease,
    background-color 0.2s ease;
}

.sliderTextLayerYear.sliderLeft {
  clip-path: inset(0 0 0 0);
}

.sliderTextLayerYear.sliderRight {
  clip-path: inset(0 0 0 100%);
}

.sliderTextLayerMonth.sliderLeft {
  clip-path: inset(0 100% 0 0);
}

.sliderTextLayerMonth.sliderRight {
  clip-path: inset(0 0 0 0);
}

.sliderText {
  font-weight: 600;
  font-size: 0.95rem;
  color: $color-font-enabled;
}

.sliderBall {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  // background-color: $color-toggle-active;
  background-color: #ffffff;
  // background-color: $color-disabled;
  transition: transform 0.4s ease;
  z-index: 3;
}

.sliderBall.sliderLeft {
  transform: translateX(calc(-10rem + 2.6rem));
}

.sliderBall.sliderRight {
  transform: translateX(0);
}
