.toolbar {
  position: absolute;
  // z-index: 2;
  top: 0;
  // right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
  background-color: rgba($color: #ffffff, $alpha: 0);
  // border: solid 1px blue;
}

.toolbar-settings {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  background-color: white;
  // background-color: rgba($color: #ffffff, $alpha: 0);
}

.toolbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.3rem 0.6rem;
  cursor: pointer;
  // background-color: lightgray;
  // border: solid 1px lightgray;
  border-radius: 3px;
}

.toolbar-icon {
  width: 0.8rem;
  height: 0.8rem;
  color: rgb(163, 163, 163);
}

.toolbar-btn:hover {
  .toolbar-icon {
    color: rgb(71, 71, 71);
  }
}
