.toolbar {
  position: absolute;
  // z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  box-sizing: border-box;
  background-color: rgba($color: #ffffff, $alpha: 0);
  // border: solid 1px blue;
}

.toolbar-settings,
.toolbar-chars {
  display: flex;
  align-items: center;
}

.toolbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-btn-set {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.2rem 0.5rem;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  // border: solid 1px orange;
}

.toolbar-btn-chars {
  width: 3rem;
  height: 2rem;
  margin-top: -0.1rem;
  background-color: rgba($color: #ffffff, $alpha: 0);
  // border: solid 1px red;
}

.toolbar-chars span:nth-child(1) {
  color: #007aac;
}

.toolbar-chars span:nth-child(2) {
  height: 2rem;
  margin-top: -0.1rem;
}
