.date {
  position: relative;
  width: 100%;
  height: 100%;
  // margin: 1rem;
  // padding: 1rem;
  // width: 100%;
  // border: solid 5px blue;
}

.navContainer {
  position: absolute;
  top: -3rem;
  left: 0;
  // width: 100%;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto 2rem;
  // height: 100%;
  box-sizing: border-box;
}

.slider {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0 1rem;
}

.calendar {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1rem;
  // height: 100%;
  // width: 100%;
}
