.strip-mini.hover {
  // position: absolute;
  // left: 0;
  // display: flex;
  fill: #ecf7ff;
  // background-color: #ecf7ff;
  // border: solid 1px white;
}

.strip-mini {
  // opacity: 0.5;
  stroke: #ecf7ff;
}

.strip-section {
  // position: absolute;
  width: 100px;
  height: 100px;
  // background-color: aqua;
}
