.toolbar-date {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.4rem;
  // border: solid 1px grey;
}

.toolbar-btn-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.3rem;
}
