@use '@styles/config/colors' as *;

.previewIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: solid 1px blue;
}

.previewIcon {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 0.9rem;
  overflow: hidden;
  border: solid 1px $color-section-dark;
  cursor: pointer;
  background-color: $color-section-dark;
  transition:
  // transform 0.2s,
    border-color 0.2s;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  opacity: 0;
  animation: fadeInIcon 0.4s ease-out forwards;
}

@keyframes fadeInIcon {
  from {
    opacity: 0;
    // transform: translateX(10px);
  }
  to {
    opacity: 1;
    // transform: translateX(0);
  }
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
