.envelope-form {
  position: relative;
}

.input-two-elements {
  display: flex;
}

.envelope-label-index {
  width: 30%;
}

.envelope-label-city {
  width: 70%;
}

.envelope-myaddress .envelope-label-index {
  margin-left: 0.5rem;
}

.envelope-toaddress .envelope-label-index {
  margin-right: 0.5rem;
}

// .envelope-history {
//   position: absolute;
//   width: 800px;
//   height: 200px;
//   border: solid 1px orangered;
// }

.toolbar-envelope-container {
  position: absolute;
  top: -0.1rem;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
}

.envelope-icon {
  width: 1.1rem;
  height: 1.1rem;
}

.form-toaddress {
  .envelope-container-toaddress {
    left: 2rem;
  }
}

.form-myaddress {
  .envelope-container-myaddress {
    right: 2rem;
  }
}
