@use '@styles/config/colors' as *;

.cardSectionRenderer {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  // border: solid 1px green;

  &Landscape {
    box-shadow: 2px 1px 6px 3px rgba(34, 60, 80, 0.2);
    border: 1px solid $color-section-dark;
  }
}
