@use '@styles/config/colors' as *;

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0.25rem;
  min-height: 0;
  background-color: #fff;
  border: 1px solid $color-envelope-recipient-border;
  border-radius: 0.75rem;
}

.header {
  position: absolute;
  top: -1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  padding: 0 1rem;
  // border-bottom: 1px solid $color-envelope-recipient-border;
  // border: 1px solid red;
}

// .headerLabel {
//   display: flex;
//   padding: 0 0.5rem;
//   background-color: #fff;
//   // border: 1px solid blue;
// }

// .label {
//   font-size: 0.9rem;
//   padding-top: 4px;
//   color: $color-envelope-recipient-legend;
//   text-transform: uppercase;
//   letter-spacing: 0.02em;
//   // border: 1px solid red;s
// }

.list {
  flex: 1;
  overflow-y: auto;
  padding: 0.75rem 0.75rem 0.5rem 0.5rem;
}

.empty {
  margin: 0.5rem 0;
  font-size: 0.85rem;
  color: $color-font-enabled-light;
  text-align: center;
}
